$!personal.BusyoRyakusyoMei
$!personal.KanjiSimei　様

下記講座の受講申込受付を完了致しました。
（キャンセル待ちの方も、空きが出ましたので受講可能になりました。）
都合により受講できない場合は、承認者に取消依頼をして下さい。

--------------------------------
尚、講師に受講者のニーズを把握した上で講座をお願いするために
事前アンケートにご協力下さい。（必須ではありません）
ご回答頂いたアンケートは匿名でそのまま講師に提出します。

http://svbtko05.daiko.co.jp/smart/eq.asp?U=6005006003009224655


【講座コード】　　　　　$!kamoku.KamokuCode
【講座名】              $!kamoku.KamokuMei1
【講師名】              $!class.KousiMei
【クラス】              $!class.ClassMei
【開催日】              $!class.Kaisibiから$!class.Syuryobi
【開催時刻】            $!class.Kaisijikokuから$!class.Syuryojikoku
【開催地】              $!class.ChikuMei
【開催場所】            $!class.KyosituMei



　　　　　　　　　　　　　　　　　　　　　以上


--------------------------------------
大広創塾　事務局（東京の事務局番号が変更になりました）
soujuku@daiko.co.jp
内線：03-5931-7004
--------------------------------------
