先般、ご参加頂きました下記講座につき定着度を測るために
簡単な「3ヵ月後アンケート」にご回答下さい。
（必須ではありません）
このメールの最下部ＵＲＬ内「大広創塾」よりログインして下さい。

ご協力よろしくお願いいたします。

-------------------講座内容--------------------

【講座コード】　　　　　$!kamoku.KamokuCode
【講座名】              $!kamoku.KamokuMei1
【講師名】              $!class.KousiMei
【クラス】              $!class.ClassMei
【開催日】              $!class.Kaisibiから$!class.Syuryobi
【開催時刻】            $!class.Kaisijikokuから$!class.Syuryojikoku
【開催地】              $!class.ChikuMei
【開催場所】            $!class.KyosituMei

---------------アンケートの回答方法---------------

○アンケートは大広創塾キャらナビから回答して下さい。

　＜画面操作＞
　 （１）大広創塾キャらナビにログインして下さい。
　 （２）「研修者サイト」をクリックして下さい。
　 （３）「本人研修情報」をクリックして下さい。
　 （４）受講状況を「受講済」に変更し、「検索」ボタンをクリック
　 　　　して下さい。
　 ◇当該講座が表示されます。
　 （５）「フォロー報告」ボタンをクリックして下さい。
　 ◇以降、フローに沿ってアンケートにご回答下さい。
　 ◇入力後、「フォロー報告」ボタンは「フォロー報告修正」ボタ
　　 ンに変わります。
　 ◇入力済みのアンケートを修正したい場合は、「フォロー報告
　　　修正」をクリックし、フローに沿って修正することができます。

社内サイト２
https://hakuhodody.sharepoint.com/sites/C_007/SitePages/default.aspx



　 　　　　　　　　　　　　　　　　　　　　　　　　　　　　以上
　 　　　　　　　　　　　　　　　　　　　　　　　　　　　　

-----------------------------------------------
大広創塾　事務局（東京の事務局番号が変更になりました）
soujuku@daiko.co.jp
内線：03-5931-7004
-----------------------------------------------
