本日、受講される下記講座につき、受講後速やかに
「受講直後報告」に回答下さい。
このメールの最下部ＵＲＬ内「大広創塾」よりログインして下さい。
ご回答頂いた直後報告は匿名でそのまま講師に提出します。

回答期限は本日より４日以内です。

-------------------留意事項---------------------
なお、「受講直後報告」の回答がないと「受講認定」と
なりませんのでご留意下さい。
-----------------------------------------------

-------------------講座内容--------------------

【講座コード】　　　　　$!kamoku.KamokuCode
【講座名】              $!kamoku.KamokuMei1
【講師名】              $!class.KousiMei
【クラス】              $!class.ClassMei
【開催日】              $!class.Kaisibiから$!class.Syuryobi
【開催時刻】            $!class.Kaisijikokuから$!class.Syuryojikoku
【開催地】              $!class.ChikuMei
【開催場所】            $!class.KyosituMei

---------------直後報告の回答方法---------------

=========== ご留意ください：Google Chrome ==========
（重要）
ブラウザ「Google Chrome」をお使いの場合に、
画面がエラーになるなどの不具合が発生しております。
その際には旧ブラウザ「Internet Explorer」により、
再度キャらナビにアクセスいただき、直後報告の画面に
進んでいただきますようお願い申し上げます。
====================================================

○直後報告は大広創塾キャらナビから回答して下さい。

　＜画面操作＞
　 （１）大広創塾キャらナビにログインして下さい。
　 （２）「研修者サイト」をクリックして下さい。
　 （３）「本人研修情報」をクリックして下さい。
　 ◇当該講座の「受講状況」欄に「直後報告」ボタンが表示
　 　されています。
　 （４）「直後報告」ボタンをクリックして下さい。
　 ◇以降、フローに沿って質問にご回答下さい。
　 ◇入力後、「直後報告」ボタンは「直後報告修正」ボタンに変
　 　わります。
　 ◇入力済みの直後報告を修正したい場合は、「直後報告修正」
　 　をクリックし、フローに沿って修正することができます

https://hakuhodody.sharepoint.com/sites/C_007/SitePages/default.aspx

　 　　　　　　　　　　　　　　　　　　　　　　　　　　　　以上
　 　　　　　　　　　　　　　　　　　　　　　　　　　　　　

-----------------------------------------------
大広創塾　事務局（東京の事務局番号が変更になりました）
soujuku@daiko.co.jp
内線：03-5931-7004
-----------------------------------------------
