<script id="us-template-layout-hbtn" type="text/template">

  {{ if( _data["user"].isOperator ) { }}
  <button type="button" id="" class="xlDownload btn">{{= label.JkskExcelDownload }}</button>
  <button type="button" id="excelUpload" class="xlUpload btn">{{= label.JkskExcelUpload }}</button>
  {{ } }}
  <div class="btn-group">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">{{= label.JkskSettei }} <span class="caret"></span></button>
    <ul class="dropdown-menu dropdown-menu-right">
      {{ if (_data["sheet"].flowPtn !== "flwptn-hyo-none") { }}
      <li><a id="btn_actors">{{= label.JkskApproveChng }}</a></li>
      {{ } }}
      {{ if( _data["user"].isOperator ) { }}
      <li><a id="btn_chgflowptn">{{= label.JkskFlowChng }}</a></li>
      {{ } }}
    </ul>
  </div>

</script>

<style>
.sheet-header-info th {
  word-break: keep-all
}
.mod-table .q-comment{
background-color: #EEEEEE
}

.mod-table.bosShoken th {
  background-color: #FFEFD4
}
.mod-table.kakoGyomu th {
  background-color: #EDEDED;
}
.mod-table .kakoGyomuNo5 th {
  background-color: #DEDEDE
}
.mod-table .kakoGyomuNo5 td {
  background-color: #DEDEDE
}
.mod-table .thick-line{
  border-right: 6px solid #EEEEEE;
}

table td.error{
  background-color: #FF0000 !important;
}

.datepicker{
    word-break: keep-all;
}

textarea {
  resize: none;
}

.btn-style{
  background-color: #DEDEDE;
  border: solid 1.5px #828282;
}

</style>

<script id="us-template-layout-attr" type="text/template">

  <table class="sheet-header-info">
    <tr><th>{{= label.JkskHeaderAttr1 }}</th><td>{{= sheet.stfNo }}</td></tr>
    <tr><th>{{= label.JkskHeaderAttr2 }}</th><td>{{= sheet.ownPersonName }}</td></tr>
    <tr><th>{{= label.JkskHeaderAttr3 }}</th><td>{{= sheet.fullDeptNm }}</td></tr>
    <tr><th>{{= label.JkskHeaderAttr4 }}</th><td>{{= sheet.clsBNm }}</td></tr>
    <tr><th>{{= label.JkskHeaderAttr5 }}</th><td>{{= sheet.clsGNm }}</td></tr>
    <tr><th>{{= label.JkskHeaderAttr6 }}</th><td>{{= sheet.clsHNm }}</td></tr>
    <tr><th>{{= label.JkskHeaderAttr7 }}</th><td>{{= _data.actor["act-1st"]["personName"] }}</td></tr>
  </table>

</script>
<script id="us-template-layout" type="text/template">

  <div class="mod-table ami">
    <table>
      <tr>
        <th>{{= label.JkskNotesTitle }}</th>
      </tr>
      <tr>
        <td>{{= label.JkskNotesText }}</td>
      </tr>
    </table>
  </div>

  <!-- .cstab -->
  <div class="cstab">
    <ul class="tabarea">
      <li id="tab01"><a href="#">{{= label.JkskTab01 }}</a></li>
      <li id="tab02"><a href="#">{{= label.JkskTab02 }}</a></li>
    </ul>
    <div class="separater"></div>
  </div>
  <!-- /.cstab -->

  <!-- 自己申告 start -->
  <div class="tabpage tab01">
    <h3 class="lightBg">
      {{= label.JkskJksk }}
      <button type="button" class="btn cspe" style="margin:-5px 5px 0px; 10px;" data-cspe="jksk-han">{{= label.JkskOwnEdit }}</button>
    </h3>

    <h4>{{= label.JkskGeGyomuTitle }}</h4>
    <div class="mod-table ami">
      <table>
        <tr>
          <td class="q-comment">{{= label.JkskGeGyomuText }}</td>
        </tr>
      </table>
    </div>

    <h3></h3>

    <!-- 現在の業務内容 -->
    <div class="mod-table ami">
      <table>
        <tr>
          <th rowspan="4" style="width: 13%;">
            <span style="font-weight: bold;">{{= label.JkskGeGyomu }}</span>
          </th>
          <th style="width: 17%;">{{= label.JkskGeShozoku }}<span style="color:red;"> ※</span></th>
          <td style="width:20%;" class="required">{{= fill.jksk_ge_shozoku }}</td>
          <th style="width:25%;">{{= label.JkskGeKigyomei }}</th>
          <td style="width:25%;">{{= fill.jksk_ge_kigyomei }}</td>
        </tr>
        <tr>
          <th>{{= label.JkskGeShokushu }}<span style="color:red;"> ※</span></th>
          <td class="required">{{= fill.jksk_ge_shokushu_A }}</td>
          <td class="required">{{= fill.jksk_ge_shokushu_B }}</td>
          <td class="required">{{= fill.jksk_ge_shokushu_C }}</td>
        </tr>
        <tr>
          <th>{{= label.JkskGeGyomuNaiyo }}<span style="color:red;"> ※</span></th>
          <td colspan="3" class="required">{{= fill.jksk_ge_gyomunaiyo }}</td>
        </tr>
        <tr>
          <th>{{= label.JkskGeKaiFromTo }}<span style="color:red;"> ※</span></th>
          <td colspan="3" style="padding:0px;">
            <table style="border: 0px;">
              <th style="width: 10%; text-align:center;">{{= label.JkskGeKai }}</th>
              <td style="width: 23%;" class="required">{{= fill.jksk_ge_kai }}</td>
              <th style="width: 10%; text-align:center">{{= label.JkskGeShu }}</th>
              <td style="width: 23%;">{{= sheet.operationCd.substr(0, 4) + "/" + "09" }}</td>
              <th style="width: 10%; text-align:center;">{{= label.JkskGeJyuKikan }}</th>
              <td style="width: 24%;" class="required">{{= fill.jksk_ge_jyu }}</td>
            </table>
          </td>
        </tr>
      </table>
    </div>

    <h3></h3>

    <!-- 過去の業務内容１～５ -->
    <div class="mod-table ami kakoGyomu">
      <table>
        {{ for ( var i = 1; i <= 5; i++ ) { }}
          {{ var idx = ( '0' + i ).slice( -2 ); }}
          <tr class="kakoGyomuNo{{= i }}">
            <th style="width:13%; background-color:#EDEDED;" rowspan="4">{{= label['JkskKaGyomu' + idx] }}</th>
            <th style="width:17%;">{{= label['JkskKa' + idx + 'Shozoku'] }}</th>
            <td style="width:20%;" id="jksk_ka_{{= idx }}_shozoku">{{= fill['jksk_ka_' + idx + '_shozoku'] }}</td>
            <th style="width:25%;">{{= label['JkskKa' + idx + 'Kigyomei'] }}</td>
            <td style="width:25%;" id="jksk_ka_{{= idx }}_kigyomei">{{= fill['jksk_ka_' + idx + '_kigyomei'] }}</td>
          </tr>
          <tr class="kakoGyomuNo{{= i }}">
            <th>{{= label['JkskKa' + idx + 'Shokushu'] }}</th>
            <td id="jksk_ka_{{= idx }}_shokushu_A">{{= fill['jksk_ka_' + idx + '_shokushu_A'] }}</td>
            <td id="jksk_ka_{{= idx }}_shokushu_B">{{= fill['jksk_ka_' + idx + '_shokushu_B'] }}</td>
            <td id="jksk_ka_{{= idx }}_shokushu_C">{{= fill['jksk_ka_' + idx + '_shokushu_C'] }}</td>
          </tr>
          <tr class="kakoGyomuNo{{= i }}">
            <th>{{= label['JkskKa' + idx + 'GyomuNaiyo'] }}</th>
            <td colspan="3" id="jksk_ka_{{= idx }}_gyomunaiyo">{{= fill['jksk_ka_' + idx + '_gyomunaiyo'] }}</td>
          </tr>
          <tr class="kakoGyomuNo{{= i }}">
            <th>{{= label['JkskKa' + idx + 'JyuFromTo'] }}</th>
            <td colspan="3" style="padding:0px;">
              <table>
                <tr>
                  <th style="width:10%; text-align:center;">{{= label['JkskKa' + idx + 'Kai'] }}</th>
                  <td style="width:23%;" id="jksk_ka_{{= idx }}_kai">{{= fill['jksk_ka_' + idx + '_kai'] }}</td>
                  <th style="width:10%; text-align:center;">{{= label['JkskKa' + idx + 'Shu'] }}</th>
                  <td style="width:23%;" id="jksk_ka_{{= idx }}_shu">{{= fill['jksk_ka_' + idx + '_shu'] }}</td>
                  <th style="width:10%; text-align:center;">{{= label['JkskKa' + idx + 'JyuKikan'] }}</th>
                  <td style="width:23%;" id="jksk_ka_{{= idx }}_jyu">{{= fill['jksk_ka_' + idx + '_jyu'] }}</td>
                </tr>
              </table>
            </td>
          </tr>
        {{ } }}
      </table>
    </div>

    <h3></h3>

    <div class="mod-table ami">
      <table>
        <tr>
          <td class="q-comment">{{= label.JkskGenShigotoText }}</td>
        </tr>
      </table>
    </div>

    <h3></h3>

    <!-- 現在の仕事および職場環境等 -->
    <div class="mod-table ami">
      <table>
        <tr>
          <th rowspan="4" style="width: 15%; font-weight: bold;">{{= label.JkskGenShigotoKankyo }}</th>
          <th style="width:40%;">{{= label.JkskGenShigotoQues01 }}<span style="color:red;"> ※</span></th>
          <td class="required">{{= fill.jksk_gen_shigoto_01 }}</td>
        </tr>
        <tr>
          <th>{{= label.JkskGenShigotoQues02 }}<span style="color:red;"> ※</span></th>
          <td class="required">{{= fill.jksk_gen_shigoto_02 }}</td>
        </tr>
        <tr>
          <th>{{= label.JkskGenShigotoQues03 }}<span style="color:red;"> ※</span></th>
          <td class="required">{{= fill.jksk_gen_shigoto_03 }}</td>
        </tr>
        <tr>
          <th>{{= label.JkskGenShigotoQues04 }}<span style="color:red;"> ※</span></th>
          <td class="required">{{= fill.jksk_gen_shigoto_04 }}</td>
        </tr>
      </table>
    </div>

    <!-- 語学力 -->
    <h4>{{= label.JkskSkillLanguageSkill}}</h4>

    <div class="mod-table ami">
      <table>
        <tr>
          <td class="q-comment">{{= label.JkskSkillLanguageSkillText }}</td>
        </tr>
      </table>
    </div>

    <h3></h3>

    <div class="mod-table ami">
      <table>
        <tr>
          <th style="width:40%;">{{= label.JkskSkillShikakuNm }} {{= tooltip( label.JkskSkillShikakuNmTips ) }}</th>
          <th style="width:10%;">{{= label.JkskSkillShikakuDate }}</th>
          <th style="width:10%;">{{= label.JkskSkillShikakuKigen }}</th>
          <th>{{= label.JkskSkillShikakuShosai }}</th>
        </tr>
        <!-- 模擬トレ -->
        {{ for ( var i = 1; i <= 3; i++ ) { }}
          {{ var idx = ( '0' + i ).slice( -2 ); }}
        <tr>
          <td>{{= fill['jksk_skill_shikaku_mogi_' + idx + '_nm'] }}</td>
          <td>{{= fill['jksk_skill_shikaku_mogi_' + idx + '_date'] }}</td>
          <td>{{= fill['jksk_skill_shikaku_mogi_' + idx + '_kigen'] }}</td>
          <td>{{= fill['jksk_skill_shikaku_mogi_' + idx + '_shosai'] }}</td>
        </tr>
        {{ } }}

        <!-- TOEIC -->
        {{ for ( var j = 1; j <= 2; j++ ) { }}
          {{ var idx = ( '0' + j ).slice( -2 ); }}
          <tr>
            <td>{{= fill['jksk_skill_shikaku_toeic_' + idx + '_nm'] }}</td>
            <td>{{= fill['jksk_skill_shikaku_toeic_' + idx + '_date'] }}</td>
            <td>{{= fill['jksk_skill_shikaku_toeic_' + idx + '_kigen'] }}</td>
            <td>{{= fill['jksk_skill_shikaku_toeic_' + idx + '_shosai'] }}</td>
        </tr>
        {{ } }}
      </table>
    </div>

    <h3></h3>

    <!-- 「語学レベル目安」ボタン -->
    <h3></h3>
    <button type="button" id="LangSkillIndicBtn" class="btn btn-default btn-style">{{= label.JkskSkillLangSkillIndicate }}</button>
    <h3></h3>

    <div class="mod-table ami">
      <table>
        <tr>
          <td class="q-comment">{{= label.JkskSkillLangSkillIndicText }}</td>
        </tr>
      </table>
    </div>

    <h3></h3>

    <!-- 言語 -->
    <div class="mod-table ami">
      <table>
        <!-- 言語1 -->
        <tr>
          <th colspan="2" style="font-weight: bold;">{{= label.JkskSkillLang01Nm }}</th>
          <td colspan="3">{{= param.jksk_lang_eng }}</td>
        </tr>
        <tr>
          <th rowspan="2">{{= label.JkskSkillLang01Level }}</th>
          <th>{{= label.JkskSkillLang01LvYomikaki }}<span style="color:red;"> ※</span></th>
          <td colspan="3" class="required">{{= fill.jksk_skill_lang_01_lv_yomikaki }}</td>
        </tr>
        <tr>
          <th>{{= label.JkskSkillLang01LvKaiwa }}<span style="color:red;"> ※</span></th>
          <td colspan="3" class="required">{{= fill.jksk_skill_lang_01_lv_kaiwa }}</td>
        </tr>

        <!-- 言語2-3 -->
        {{ for ( var j = 2; j <= 3; j++ ) { }}
          {{ var idx = ( '0' + j ).slice( -2 ); }}
        <tr>
          <th colspan="2" style="font-weight: bold;">{{= label['JkskSkillLang' + idx + 'Nm'] }}</th>
          <td id="jksk_skill_lang_{{= idx }}_nm">{{= fill['jksk_skill_lang_' + idx + '_nm'] }}</td>
          <th style="width:20%;">{{= label['JkskSkillLang' + idx + 'NmOther'] }}</th>
          <td id="jksk_skill_lang_{{= idx }}_nm_other">{{= fill['jksk_skill_lang_' + idx + '_nm_other'] }}</td>
        </tr>
        <tr>
          <th rowspan="2">{{= label['JkskSkillLang' + idx + 'Level'] }}</th>
          <th>{{= label['JkskSkillLang' + idx + 'LvYomikaki'] }}</th>
          <td colspan="3">{{= fill['jksk_skill_lang_' + idx + '_lv_yomikaki'] }}</td>
        </tr>
        <tr>
          <th>{{= label['JkskSkillLang'+ idx + 'LvKaiwa'] }}</th>
          <td colspan="3">{{= fill['jksk_skill_lang_' + idx + '_lv_kaiwa'] }}</td>
        </tr>
        {{ } }}
        <!-- 言語に関する質問 -->
        <tr>
          <th colspan="2" style="width:30%">{{= label.JkskSkillLangQues01 }}<span style="color:red;"> ※</span></th>
          <td colspan="3" class="required">{{= fill.jksk_skill_lang_ques_01 }}</td>
        </tr>
        <tr>
          <th colspan="2">{{= label.JkskSkillLangQues02 }}</th>
          <td colspan="3">{{= fill.jksk_skill_lang_ques_02 }}</td>
        </tr>
      </table>
    </div>

    <!-- 保有資格/スキル -->
    <h4>{{= label.JkskSkillMenkyoShikaku }}</h4>

    <div class="mod-table ami">
      <table>
        <tr>
          <td class="q-comment">{{= label.JkskSkillText }}</td>
        </tr>
      </table>
    </div>

    <h3></h3>

    <!-- 資格（IT検定/SB流ビジネス統計検定） -->
    <div class="mod-table ami">
      <table>
        <tr>
          <th style="width:40%;">{{= label.JkskSkillShikakuItsbNm }} {{= tooltip( label.JkskSkillShikakuItsbNmTips ) }}</th>
          <th style="width:10%;">{{= label.JkskSkillShikakuItsbDate }}</th>
          <th style="width:10%;">{{= label.JkskSkillShikakuItsbKigen }}</th>
          <th>{{= label.JkskSkillShikakuItsbShosai }}</th>
        </tr>
        <tr>
          <td>{{= fill['jksk_skill_shikaku_itken_nm'] }}</td>
          <td>{{= fill['jksk_skill_shikaku_itken_date'] }}</td>
          <td>{{= fill['jksk_skill_shikaku_itken_kigen'] }}</td>
          <td>{{= fill['jksk_skill_shikaku_itken_shosai'] }}</td>
        </tr>
        <tr>
          <td>{{= fill['jksk_skill_shikaku_sbryu_nm'] }}</td>
          <td>{{= fill['jksk_skill_shikaku_sbryu_date'] }}</td>
          <td>{{= fill['jksk_skill_shikaku_sbryu_kigen'] }}</td>
          <td>{{= fill['jksk_skill_shikaku_sbryu_shosai'] }}</td>
        </tr>
      </table>
    </div>

    <h3></h3>

    <div class="mod-table ami">
      <table>
        <tr>
          <td class="q-comment">{{= label.JkskSkillShikakuNaviText }}</td>
        </tr>
      </table>
    </div>

    <div style="margin: 30px;"></div>
    <h3 style="float: left;">{{= label.JkskSkillShikakuNavi }}</h3>
    <div style="float: right; margin: 10px;">
      <button type="button" id="btn_skill_onoff" class="btn btn-default btn-style">{{= label.JkskSkillAllOnOff }}</button>
    </div>
    <h3></h3>

    <!-- 人事Navi登録済み資格 -->
    <div class="mod-table ami">
      <table>
        {{ for ( var i = 1; i <= 10; i++ ) { }}
          {{ var idx = ( '0' + i ).slice( -2 ); }}
          {{ var clsAttr = (i >= 6) ? "naviShikakuGrp" : ""}}
        <tr class="{{= clsAttr }}">
          {{ if ( i == 1 ) { }}
          <th style="width:20%">{{= label['JkskSkillShikakuNavi01Nm'] }}</th>
          <td style="width:40%">{{= fill['jksk_skill_shikaku_navi_01_nm'] }}</td>
          <th style="width:10%">{{= label['JkskSkillShikakuNavi01Date'] }}</th>
          <td style="width:10%">{{= fill['jksk_skill_shikaku_navi_01_date'] }}</td>
          <th style="width:10%">{{= label['JkskSkillShikakuNavi01Kigen'] }}</th>
          <td style="width:10%">{{= fill['jksk_skill_shikaku_navi_01_kigen'] }}</td>
          {{ } else { }}
          <th>{{= label['JkskSkillShikakuNavi' + idx + 'Nm'] }}</th>
          <td>{{= fill['jksk_skill_shikaku_navi_' + idx + '_nm'] }}</td>
          <th>{{= label['JkskSkillShikakuNavi' + idx + 'Date'] }}</th>
          <td>{{= fill['jksk_skill_shikaku_navi_' + idx + '_date'] }}</td>
          <th>{{= label['JkskSkillShikakuNavi' + idx + 'Kigen'] }}</th>
          <td>{{= fill['jksk_skill_shikaku_navi_' + idx + '_kigen'] }}</td>
          {{ } }}
        </tr>
        {{ } }}
      </table>
    </div>

    <div style="margin: 30px;"></div>
    <h3 style="float: left;">{{= label.JkskSkillShikakuTsuikaSen }}</h3>

    <!-- 追加資格（選択入力） -->
    <div class="mod-table ami">
      <table>
        {{ for ( var j = 1; j <= 5; j++ ) { }}
        {{ var idx = ( '0' + j ).slice( -2 ); }}
        <tr>
          {{ if ( j == 1 ) { }}
            <th style="width:20%">{{= label['JkskSkillShikakuTsuikaSen01Nm'] }}</th>
            <td style="width:40%">{{= fill['jksk_skill_shikaku_tsuika_sen_01_nm'] }}</td>
            <th style="width:10%">{{= label['JkskSkillShikakuTsuikaSen01Date'] }} {{= tooltip( label.JkskSkillShikakuTsuikaSenDateTips ) }}</th>
            <td style="width:10%">{{= fill['jksk_skill_shikaku_tsuika_sen_01_date'] }}</td>
            <th style="width:10%">{{= label['JkskSkillShikakuTsuikaSen01Kigen'] }}</th>
            <td style="width:10%">{{= fill['jksk_skill_shikaku_tsuika_sen_01_kigen'] }}</td>
          {{ } else { }}
            <th>{{= label['JkskSkillShikakuTsuikaSen' + idx + 'Nm'] }}</th>
            <td>{{= fill['jksk_skill_shikaku_tsuika_sen_' + idx + '_nm'] }}</td>
            <th>{{= label['JkskSkillShikakuTsuikaSen' + idx + 'Date'] }}</th>
            <td>{{= fill['jksk_skill_shikaku_tsuika_sen_' + idx + '_date'] }}</td>
            <th>{{= label['JkskSkillShikakuTsuikaSen'+ idx + 'Kigen'] }}</th>
            <td>{{= fill['jksk_skill_shikaku_tsuika_sen_' + idx + '_kigen'] }}</td>
          {{ } }}
        </tr>
        {{ } }}
      </table>
    </div>

    <div style="margin: 30px;"></div>
    <h3>{{= label.JkskSkillShikakuTsuikaJiyu }}</h3>

    <!-- 追加資格（自由入力） -->
    <div class="mod-table ami">
      <table>
        {{ for ( var k = 1; k <= 5; k++ ) { }}
        <tr>
          {{ var idx = ( '0' + k ).slice( -2 ); }}
          {{ if ( k == 1 ) { }}
            <th style="width:20%">{{= label['JkskSkillShikakuTsuikaJiyu01Nm'] }}</th>
            <td style="width:40%">{{= fill['jksk_skill_shikaku_tsuika_jiyu_01_nm'] }}</td>
            <th style="width:10%">{{= label['JkskSkillShikakuTsuikaJiyu01Date'] }} {{= tooltip( label.JkskSkillShikakuTsuikaJiyuDateTips ) }}</th>
            <td style="width:10%">{{= fill['jksk_skill_shikaku_tsuika_jiyu_01_date'] }}</td>
            <th style="width:10%">{{= label['JkskSkillShikakuTsuikaJiyu01Kigen'] }}</th>
            <td style="width:10%">{{= fill['jksk_skill_shikaku_tsuika_jiyu_01_kigen'] }}</td>
          {{ } else { }}
            <th>{{= label['JkskSkillShikakuTsuikaJiyu' + idx + 'Nm'] }}</th>
            <td>{{= fill['jksk_skill_shikaku_tsuika_jiyu_' + idx + '_nm'] }}</td>
            <th>{{= label['JkskSkillShikakuTsuikaJiyu' + idx + 'Date'] }}</th>
            <td>{{= fill['jksk_skill_shikaku_tsuika_jiyu_' + idx + '_date'] }}</td>
            <th>{{= label['JkskSkillShikakuTsuikaJiyu' + idx + 'Kigen'] }}</th>
            <td>{{= fill['jksk_skill_shikaku_tsuika_jiyu_' + idx + '_kigen'] }}</td>
          {{ } }}
        </tr>
        {{ } }}
      </table>
    </div>

    <h3></h3>

    <!-- 今後のキャリアについて -->
    <h4>{{= label.JkskCarNow }}</h4>
    <div class="mod-table ami">
      <table>
        <tr>
          <td class="q-comment">{{= label.JkskCarNowText01 }}</td>
        </tr>
      </table>
    </div>

    <h3></h3>

    <div class="mod-table ami">
      <table>
        <tr>
          <td class="q-comment">{{= label.JkskCarNowText02 }}</td>
        </tr>
      </table>
    </div>

    <h3></h3>

    <!-- 今後のキャリア（1-3年） -->
    <div class="mod-table ami">
      <table>
        <tr>
          <th style="width:30%;">{{= label.JkskCarNowHanQues01 }}<span style="color:red;"> ※</span></th>
          <td class="required">{{= fill.jksk_car_now_han_ques_01 }}</td>
        </tr>
        <tr>
          <th>{{= label.JkskCarNowHanQues02 }}<span style="color:red;"> ※</span></th>
          <td class="required">{{= fill.jksk_car_now_han_ques_02 }}</td>
        </tr>
      </table>
    </div>

    <h3></h3>

    <!-- その他 -->
    <h4>{{= label.JkskCarOthers }}</h4>
    <div class="mod-table ami">
      <table>
        <tr>
          <th style="width:30%;">{{= label.JkskCarOtherQues01 }}</th>
          <td colspan="3">{{= fill.jksk_car_other_ques_01 }}</td>
        </tr>
      </table>
    </div>

    <!-- 上長所見欄 -->
    <div id="bossShokenArea">
      <div style="float: left;">
        <h4>{{= label.JkskBosShoken }}</h4>
      </div>

      <div style="float: right; margin: 10px;">
        <button type="button" class="btn cspe"  style="margin-top: 6px;" data-cspe="jksk-han">{{= label.JkskBosEdit }}</button>
      </div>

      <div class="mod-table ami bosShoken">
        <table>
          <tr>
            <th style="width:30%;">{{= label.JkskBosMendan }}<span style="color:red;"> ※</span></th>
            <td class="boss-required">{{= fill.jksk_bos_mendan }}</td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- 上長所見（直近） -->
      <div class="mod-table ami bosShoken">
        <table>
          <tr>
            <th style="width:30%;">{{= label.JkskBosNowHanQues01 }}<span style="color:red;"> ※</span></th>
            <td colspan="3" class="boss-required">{{= fill.jksk_bos_now_han_ques_01 }}</td>
          </tr>
          <tr>
            <th>{{= label.JkskBosNowHanQues02 }}<span style="color:red;"> ※</span></th>
            <td colspan="3" class="boss-required">{{= fill.jksk_bos_now_han_ques_02 }}</td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- 上長所見（１－３年後） -->
      <div class="mod-table ami bosShoken">
        <table>
          <tr>
            <th style="width:30%;">{{= label.JkskBos3yrQues03 }}<span style="color:red;"> ※</span></th>
            <td class="boss-required">{{= fill.jksk_bos_3yr_ques_03 }}</td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- 上長所見（その他） -->
      <div class="mod-table ami bosShoken">
        <table>
          <tr>
            <th style="width:30%;">{{= label.JkskBosOtherQues01 }}<span style="color:red;"> ※</span></th>
            <td class="boss-required">{{= fill.jksk_bos_other_ques_01 }}</td>
          </tr>
          <tr>
            <th style="width:30%;">{{= label.JkskBosOtherQues02 }}<span style="color:red;"> ※</span></th>
            <td class="boss-required">{{= fill.jksk_bos_other_ques_02 }}</td>
          </tr>
          <tr>
            <th style="width:30%;">{{= label.JkskBosOtherQues03 }}<span style="color:red;"> ※</span></th>
            <td class="boss-required">{{= fill.jksk_bos_other_ques_03 }}</td>
          </tr>
          <tr>
            <th>{{= label.JkskBosOtherQues04 }}</th>
            <td>{{= fill.jksk_bos_other_ques_04 }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- 自己申告 end -->

  <!-- 海外・外国語利用経験 start -->
  <div class="tabpage tab02">
    <h3 class="lightBg">
      {{= label.JkskGloBusiExp }}
        <button type="button" class="btn cspe" style="margin:-5px 5px 0px; 10px;" data-cspe="jksk">{{= label.JkskGloBusiExpEdit }}</button>
    </h3>

    <h3></h3>

    <!-- ビジネス経験（言語） -->
    <div class="mod-table ami">
      <table>
        <tr>
          <th style="width:30%; font-weight:bold;" colspan="2">{{= label.JkskGloBusiLangQues01 }}<span style="color:red;"> ※</span></th>
          <td colspan="2" id="jksk_glo_busi_lang_ques_01" class="required">{{= fill.jksk_glo_busi_lang_ques_01 }}</td>
        </tr>

        {{ for ( var i = 1; i <= 3; i++ ) { }}
          {{ var idx = ( '0' + i ).slice( -2 ); }}
          <tr class="gloBusiLangAnsGrp">
            <th rowspan="3" style="width:5%;">{{= label['JkskGloBusiLang' + idx] }}</th>
            <th rowspan="2" style="width:25%;">{{= label['JkskGloBusiLang' + idx + 'Nm'] }}</th>
            <td colspan="2" id="jksk_glo_busi_lang_{{= idx }}_nm">{{= fill['jksk_glo_busi_lang_' + idx + '_nm']}}</td>
          </tr>
          <tr class="gloBusiLangAnsGrp">
            <th style="width:25%;">{{= label['JkskGloBusiLang' + idx + 'Other'] }}</th>
            <td id="jksk_glo_busi_lang_{{= idx }}_nm_other">{{= fill['jksk_glo_busi_lang_' + idx + '_nm_other']}}</td>
          </tr>
          <tr class="gloBusiLangAnsGrp">
            <th style="width:25%;">{{= label['JkskGloBusiLang' + idx + 'Naiyo'] }} {{= tooltip( label.JkskGloBusiLangNaiyoTips ) }}</th>
            <td colspan="2" id="jksk_glo_busi_lang_{{= idx }}_naiyo">{{= fill['jksk_glo_busi_lang_' + idx + '_naiyo']}}</td>
          </tr>
        {{ } }}
        <tr class="gloBusiLangAnsGrp">
          <th style="width:30%;" colspan="2">{{= label.JkskGloBusiLangQues02 }}</th>
          <td colspan="2">{{= fill.jksk_glo_busi_lang_ques_02 }}</td>
        </tr>
      </table>
    </div>

    <h3></h3>

    <!-- ビジネス経験（日本以外の国） -->
    <div class="mod-table ami">
      <table>
        <tr>
          <th colspan="2" style="width:30%; font-weight:bold;" >{{= label.JkskGloBusiExpQues01 }}<span style="color:red;"> ※</span></th>
          <td colspan="3" id="jksk_glo_busi_exp_ques_01" class="required">{{= fill.jksk_glo_busi_exp_ques_01 }}</td>
        </tr>
        {{ for ( var j = 1; j <= 3; j++ ) { }}
          {{ var idx = ( '0' + j ).slice( -2 ); }}
          <tr class="gloBusiExpAnsGrp">
            <th rowspan="6" style="width:5%;">{{= label['JkskGloBusiExp' + idx] }}</th>
            <th rowspan="2"style="width:25%;">{{= label['JkskGloBusiExp' + idx + 'ChiikiKuni'] }}</th>
            <th style="width:25%;">{{= label['JkskGloBusiExp' + idx + 'Chiiki'] }}</th>
            <td colspan="2" id="jksk_glo_busi_exp_{{= idx }}_chiiki">{{= fill['jksk_glo_busi_exp_' + idx + '_chiiki']}}</td>
          </tr>
          <tr class="gloBusiExpAnsGrp">
            <th>{{= label['JkskGloBusiExp' + idx + 'Kuni'] }}</th>
            <td colspan="2" id="jksk_glo_busi_exp_{{= idx }}_kuni">{{= fill['jksk_glo_busi_exp_' + idx + '_kuni']}}</td>
          </tr>
          <tr class="gloBusiExpAnsGrp">
            <th>{{= label['JkskGloBusiExp' + idx + 'Shubetsu'] }}</th>
            <td colspan="3" id="jksk_glo_busi_exp_{{= idx }}_shubetsu">{{= fill['jksk_glo_busi_exp_' + idx + '_shubetsu']}}</td>
          </tr>
          <tr class="gloBusiExpAnsGrp">
            <th>{{= label['JkskGloBusiExp' + idx + 'Shokushu'] }}</th>
            <td id="jksk_glo_busi_exp_{{= idx }}_shokushu_A">{{= fill['jksk_glo_busi_exp_' + idx + '_shokushu_A']}}</td>
            <td id="jksk_glo_busi_exp_{{= idx }}_shokushu_B">{{= fill['jksk_glo_busi_exp_' + idx + '_shokushu_B']}}</td>
            <td id="jksk_glo_busi_exp_{{= idx }}_shokushu_C">{{= fill['jksk_glo_busi_exp_' + idx + '_shokushu_C']}}</td>
          </tr>
          <tr class="gloBusiExpAnsGrp">
            <th>{{= label['JkskGloBusiExp' + idx + 'Naiyo'] }}</th>
            <td colspan="3" id="jksk_glo_busi_exp_{{= idx }}_naiyo">{{= fill['jksk_glo_busi_exp_' + idx + '_naiyo']}}</td>
          </tr>
          <tr class="gloBusiExpAnsGrp">
            <th>{{= label.JkskGloBusiExp01FromTo }}</th>
            <td colspan="3" style="padding:0px;">
              <table>
                <tr>
                  <th style="width:10%; text-align:center;">{{= label['JkskGloBusiExp' + idx + 'Kai'] }}</th>
                  <td style="width:23%;" id="jksk_glo_busi_exp_{{= idx }}_kai">{{= fill['jksk_glo_busi_exp_' + idx + '_kai'] }}</td>
                  <th style="width:10%; text-align:center;">{{= label['JkskGloBusiExp' + idx + 'Shu'] }}</th>
                  <td style="width:23%;" id="jksk_glo_busi_exp_{{= idx }}_shu">{{= fill['jksk_glo_busi_exp_' + idx + '_shu'] }}</td>
                  <th style="width:10%; text-align:center;">{{= label['JkskGloBusiExp' + idx + 'Kikan'] }}</th>
                  <td style="width:24%;" id="jksk_glo_busi_exp_{{= idx }}_kik">{{= fill['jksk_glo_busi_exp_' + idx + '_kik']}}</td>
                </tr>
              </table>
            </td>
          </tr>
        {{ } }}
      </table>
    </div>

    <h3></h3>

    <!-- 就学・留学経験 -->
    <div class="mod-table ami">
      <table>
        <tr>
          <th colspan="2" style="width:30%; font-weight:bold;">{{= label.JkskGloRyuQues01 }}<span style="color:red;"> ※</span></th>
          <td colspan="2" id="jksk_glo_ryu_ques_01" class="required">{{= fill.jksk_glo_ryu_ques_01 }}</td>
        </tr>
        {{ for ( var k = 1; k <= 3; k++ ) { }}
          {{ var idx = ( '0' + k ).slice( -2 ); }}
          <tr class="gloRyuExpAnsGrp">
            <th style="width:5%;" rowspan="5">{{= label['JkskGloRyuExp' + idx] }}</th>
            <th style="width:25%;" rowspan="2">{{= label['JkskGloRyuExp' + idx + 'ChiikiKuni'] }}</th>
            <th style="width:25%;">{{= label['JkskGloRyuExp' + idx + 'Chiiki'] }}</th>
            <td style="width:45%;" id="jksk_glo_ryu_exp_{{= idx }}_chiiki">{{= fill['jksk_glo_ryu_exp_' + idx + '_chiiki'] }}</td>
          </tr>
          <tr class="gloRyuExpAnsGrp">
            <th>{{= label['JkskGloRyuExp' + idx + 'Kuni'] }}</th>
            <td id="jksk_glo_ryu_exp_{{= idx }}_kuni">{{= fill['jksk_glo_ryu_exp_' + idx + '_kuni'] }}</td>
          </tr>
          <tr class="gloRyuExpAnsGrp">
            <th rowspan="2">{{= label['JkskGloRyuExp' + idx + 'Naiyo'] }}</th>
            <td colspan="2" id="jksk_glo_ryu_exp_{{= idx }}_naiyo">{{= fill['jksk_glo_ryu_exp_' + idx + '_naiyo'] }}</td>
          </tr>
          <tr class="gloRyuExpAnsGrp">
            <th>{{= label['JkskGloRyuExp' + idx + 'NaiyoOther'] }}</th>
            <td id="jksk_glo_ryu_exp_{{= idx }}_naiyo_other">{{= fill['jksk_glo_ryu_exp_' + idx + '_naiyo_other'] }}</td>
          </tr>
          <tr class="gloRyuExpAnsGrp">
            <th>{{= label['JkskGloRyuExp' + idx + 'FromTo'] }}</th>
            <td colspan="2" style="padding:0px;">
              <table>
                <tr>
                  <th style="width:10%; text-align:center;">{{= label['JkskGloRyuExp' + idx + 'Kai'] }}</th>
                  <td style="width:23%;" id="jksk_glo_ryu_exp_{{= idx }}_kai">{{= fill['jksk_glo_ryu_exp_' + idx + '_kai']}}</td>
                  <th style="width:10%; text-align:center;">{{= label['JkskGloRyuExp' + idx + 'Shu'] }}</th>
                  <td style="width:23%;" id="jksk_glo_ryu_exp_{{= idx }}_shu">{{= fill['jksk_glo_ryu_exp_' + idx + '_shu']}}</td>
                  <th style="width:10%; text-align:center;">{{= label['JkskGloRyuExp' + idx + 'Kikan'] }}</th>
                  <td style="width:24%;" id="jksk_glo_ryu_exp_{{= idx }}_kik">{{= fill['jksk_glo_ryu_exp_' + idx + '_kik']}}</td>
                </tr>
              </table>
            </td>
          </tr>
        {{ } }}
      </table>
    </div>
  </div>
  <!-- 海外・外国語利用経験 end -->

  <div id="messageArea" style="display: none;">
    <!-- 語学レベル目安ポップアップウィンドウ Start -->
    <div id="LangLevelModalWnd">
      <div class="closearea"><a class="close" href="#"><i class="fa fa-close"></i></a></div>
      <div class="modal-header">
        <h4>{{= label.JkskSkillLangLevel }}</h4>
      </div>
      <div class="modal-body">
        <table>
          <thead>
            <th></th>
            <th>{{= label.JkskSkillLangLevelTableHeader01 }}</th>
            <th>{{= label.JkskSkillLangLevelTableHeader02 }}</th>
          </thead>
          <tbody>
            {{ for (var i = 1; i <= 4; i++) { }}
            {{ var idx = ('0' + i).slice(-2); }}
            <tr>
              <td>{{= label["JkskSkillLangLevel" + idx] }}</td>
              <td>{{= label["JkskSkillLangYomikakiLevel" + idx] }}</td>
              <td>{{= label["JkskSkillLangKaiwaLevel" + idx] }}</td>
            </tr>
            {{ } }}
          </tbody>
        </table>
      </div>
    </div>
    <!-- 語学レベル目安ポップアップウィンドウ End -->
  </div>
</script>
