<style>
  .sheet-header-info th {
    word-break: keep-all
  }
  .mod-table .q-comment{
  background-color: #EEEEEE
  }
  .mod-table.bosShoken th {
    background-color: #FFEFD4
  }
  .mod-table.kakoGyomu th {
  background-color: #EDEDED;
  border: solid 1px white;
  }
  .mod-table .kakoGyomuNo5 th {
    background-color: #DEDEDE
  }
  .mod-table .kakoGyomuNo5 td {
    background-color: #DEDEDE
  }
  .mod-table .thick-line{
  border-right: 6px solid #EEEEEE;
  }
  .radio label i{
    border: 2px solid #C7C7C7;
  }
  .datepicker{
    word-break: keep-all;
  }
  textarea {
    resize: none;
  }
  .btn-style{
    background-color: #DEDEDE;
    border: solid 1.5px #828282;
  }
  input.datepicker-months::-ms-clear {
    visibility: hidden;
  }
  input.datepicker-date::-ms-clear {
    visibility: hidden;
  }
</style>

<div class="cstab">
  <ul class="tabarea">
    <li id="tab01"><a href="#">{{= label.JkskTab01 }}</a></li>
    <li id="tab02"><a href="#">{{= label.JkskTab02 }}</a></li>
  </ul>
  <div class="separater"></div>
</div>

<!-- 自己申告タブ Start -->
<div class="tabpage tab01">
  <h3 class="lightBg">
  {{= label.JkskJksk }}
  </h3>

  <!-- 現在の業務について -->
  <h4>{{= label.JkskGeGyomuTitle }}</h4>

  <div class="mod-table ami">
    <table>
      <tr>
        <td class="q-comment">{{= label.JkskGeGyomuText }}</td>
      </tr>
    </table>
  </div>

  <h3></h3>

  <!-- 現在の業務内容 -->
  <div class="mod-table ami">
    <table>
      <tr>
        <th rowspan="4" style="width: 13%;">
          <span style="font-weight: bold;">{{= label.JkskGeGyomu }}</span>
          <div class="GeGyomuBtnGrp">
            <button type="button" id="btn_AnsMove" class="btn" style="margin:5px;">{{= label.JkskGeMove }}</button>
            <button type="button" id="btn_AnsClr" class="btn" style="margin:5px; ">{{= label.JkskGeAnsClear }}</button>
          </div>
        </th>
        <th style="width: 17%;">{{= label.JkskGeShozoku }}<span style="color:red;"> ※</span></th>
        <td style="width:20%;">
          <select id="jksk_ge_shozoku" name="Fill--jksk_ge_shozoku" data-pulldown="cspd-jksk_shozoku"></select>
        </td>
        <th style="width:25%;">{{= label.JkskGeKigyomei }}</th>
        <td style="width:25%;">
          <input class="block" type="text" id="jksk_ge_kigyomei" name="Fill--jksk_ge_kigyomei" value="">
        </td>
      </tr>
      <tr>
        <th>{{= label.JkskGeShokushu }}<span style="color:red;"> ※</span>
          <button type="button" id="jksk_ge_shokushu_btn" class="btn frm_lst_btn" style="margin:5px;">{{= label.JkskSelectList }}</button>
        </th>
        <td id="jksk_ge_shokushu_A">{{= fill['jksk_ge_shokushu_A'] }}</td>
        <td id="jksk_ge_shokushu_B">{{= fill['jksk_ge_shokushu_B'] }}</td>
        <td id="jksk_ge_shokushu_C">{{= fill['jksk_ge_shokushu_C'] }}</td>
      </tr>
      <tr>
        <th>{{= label.JkskGeGyomuNaiyo }}<span style="color:red;"> ※</span></th>
        <td colspan="3">
          <textarea id="jksk_ge_gyomunaiyo" class="block" rows="3" name="Fill--jksk_ge_gyomunaiyo"></textarea>
        </td>
      </tr>
      <tr>
        <th>{{= label.JkskGeKaiFromTo }}<span style="color:red;"> ※</span></th>
        <td colspan="3" style="padding:0px;">
          <table style="border: 0px;">
            <th style="width: 10%; text-align: center;">{{= label.JkskGeKai }}</th>
            <td style="width: 23%;">
              <input type="text" id="jksk_ge_kai" class="datepicker-months" name="Fill--jksk_ge_kai">
            </td>
            <th style="width: 10%; text-align:center">{{= label.JkskGeShu }}</th>
            <td style="width: 23%; white-space: nowrap;" id="jksk_ge_shu">{{= sheet.operationCd.substr(0, 4) + "/" + "09" }}</td>
            <th style="width: 10%; text-align: center;">{{= label.JkskGeJyuKikan }}</th>
            <td style="width: 24%;" id="jksk_ge_jyu">{{= fill['jksk_ge_jyu'] }}</td>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <h3></h3>

  <!-- 過去の業務内容１－５ -->
  <div class="mod-table ami kakoGyomu">
    <table>
      {{ for ( var i = 1; i <= 4; i++ ) { }}
      {{ var idx = ( '0' + i ).slice( -2 ); }}
      <tr>
        <th style="width:13%; background-color:#EDEDED;" rowspan="4">{{= label['JkskKaGyomu' + idx] }}</th>
        <th style="width:17%;">{{= label['JkskKa' + idx + 'Shozoku'] }}</th>
        <td style="width:20%;">
          <select id="jksk_ka_{{= idx }}_shozoku" class="" name="Fill--jksk_ka_{{= idx }}_shozoku" data-pulldown="cspd-jksk_shozoku"></select>
        </td>
        <th style="width:25%;">{{= label['JkskKa' + idx + 'Kigyomei'] }}</th>
        <td style="width:25%;">
          <input id="jksk_ka_{{= idx }}_kigyomei" class="block" type="text" name="Fill--jksk_ka_{{= idx }}_kigyomei" value="">
        </td>
      </tr>
      <tr>
        <th>{{= label['JkskKa' + idx + 'Shokushu'] }}
          <button type="button" id="jksk_ka_{{= idx }}_shokushu_btn" class="btn frm_lst_btn" style="margin:5px;" data-row="{{= idx }}">{{= label.JkskSelectList }}</button>
        </th>
        <td id="jksk_ka_{{= idx }}_shokushu_A">{{= fill['jksk_ka_' + idx + '_shokushu_A'] }}</td>
        <td id="jksk_ka_{{= idx }}_shokushu_B">{{= fill['jksk_ka_' + idx + '_shokushu_B'] }}</td>
        <td id="jksk_ka_{{= idx }}_shokushu_C">{{= fill['jksk_ka_' + idx + '_shokushu_C'] }}</td>
      </tr>
      <tr>
        <th>{{= label['JkskKa' + idx + 'GyomuNaiyo'] }}</th>
        <td colspan="3">
          <textarea id="jksk_ka_{{= idx }}_gyomunaiyo" class="block" rows="3" name="Fill--jksk_ka_{{= idx }}_gyomunaiyo"></textarea>
        </td>
      </tr>
      <tr>
        <th>{{= label['JkskKa' + idx + 'JyuFromTo'] }}</th>
        <td colspan="3" style="padding:0px;">
          <table>
            <tr>
              <th style="width:10%; text-align: center;">{{= label['JkskKa' + idx + 'Kai'] }}</th>
              <td style="width:23%;">
                <input type="text" id="jksk_ka_{{= idx }}_kai" class="datepicker-months" name="Fill--jksk_ka_{{= idx }}_kai">
              </td>
              <th style="width:10%; text-align:center">{{= label['JkskKa' + idx + 'Shu'] }}</th>
              <td style="width:23%;">
                <input type="text" id="jksk_ka_{{= idx }}_shu" class="datepicker-months" name="Fill--jksk_ka_{{= idx }}_shu">
              </td>
              <th style="width:10%; text-align: center;">{{= label['JkskKa'+ idx + 'JyuKikan'] }}</th>
              <td style="width:24%;" id="jksk_ka_{{= idx }}_jyu">{{= fill['jksk_ka_' + idx + '_jyu'] }}</td>
            </tr>
          </table>
        </td>
      </tr>
      {{ } }}

      <!-- 過去の業務内容5 -->
      <tr class="kakoGyomuNo5">
        <th style="width:13%;" rowspan="4">{{= label.JkskKaGyomu05 }}</th>
        <th style="width:17%;">{{= label.JkskKa05Shozoku }}</th>
        <td style="width:20%;" id="jksk_ka_05_shozoku">{{= fill.jksk_ka_05_shozoku }}</td>
        <th style="width:25%;">{{= label.JkskKa05Kigyomei }}</td>
        <td style="width:25%;" id="jksk_ka_05_kigyomei">{{= fill.jksk_ka_05_kigyomei }}</td>
      </tr>
      <tr class="kakoGyomuNo5">
        <th>{{= label.JkskKa05Shokushu }}</th>
        <td id="jksk_ka_05_shokushu_A">{{= fill.jksk_ka_05_shokushu_A }}</td>
        <td id="jksk_ka_05_shokushu_B">{{= fill.jksk_ka_05_shokushu_B }}</td>
        <td id="jksk_ka_05_shokushu_C">{{= fill.jksk_ka_05_shokushu_C }}</td>
      </tr>
      <tr class="kakoGyomuNo5">
        <th>{{= label.JkskKa05GyomuNaiyo }}</th>
        <td colspan="3" id="jksk_ka_05_gyomunaiyo">{{= fill.jksk_ka_05_gyomunaiyo }}</td>
      </tr>
      <tr class="kakoGyomuNo5">
        <th>{{= label.JkskKa05JyuFromTo }}</th>
        <td colspan="3" style="padding:0px;">
          <table>
            <tr>
              <th style="width:10%; text-align: center;">{{= label.JkskKa05Kai }}</th>
              <td style="width:23%; white-space: nowrap;" id="jksk_ka_05_kai">{{= fill.jksk_ka_05_kai }}</td>
              <th style="width:10%; text-align:center">{{= label.JkskKa05Shu }}</th>
              <td style="width:23%; white-space: nowrap;" id="jksk_ka_05_shu">{{= fill.jksk_ka_05_shu }}</td>
              <th style="width:10%; text-align: center;">{{= label.JkskKa05JyuKikan }}</th>
              <td style="width:24%;" id="jksk_ka_05_jyu">{{= fill.jksk_ka_05_jyu }}</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>

  <h3></h3>

  <!-- 現在の仕事および職場環境について -->
  <div class="mod-table ami">
    <table>
      <tr>
        <td class="q-comment">{{= label.JkskGenShigotoText }}</td>
      </tr>
    </table>
  </div>

  <h3></h3>

  <div class="mod-table ami">
    <table>
      <!-- 現在の仕事および職場環境等 -->
      <tr>
        <th rowspan="4" style="width: 15%; font-weight: bold;">{{= label.JkskGenShigotoKankyo }}</th>
        <th style="width:40%;">{{= label.JkskGenShigotoQues01 }}<span style="color:red;"> ※</span></th>
        <td>
          <select class="" name="Fill--jksk_gen_shigoto_01" data-pulldown="cspd-jksk_shigoto_ans01"></select>
        </td>
      </tr>
      <tr>
        <th>{{= label.JkskGenShigotoQues02 }}<span style="color:red;"> ※</span></th>
        <td>
          <select class="" name="Fill--jksk_gen_shigoto_02" data-pulldown="cspd-jksk_shigoto_ans02"></select>
        </td>
      </tr>
      <tr>
        <th>{{= label.JkskGenShigotoQues03 }}<span style="color:red;"> ※</span></th>
        <td>
          <select class="" name="Fill--jksk_gen_shigoto_03" data-pulldown="cspd-jksk_shigoto_ans03"></select>
        </td>
      </tr>
      <tr>
        <th>{{= label.JkskGenShigotoQues04 }}<span style="color:red;"> ※</span></th>
        <td>
          <select class="" name="Fill--jksk_gen_shigoto_04" data-pulldown="cspd-jksk_shigoto_ans04"></select>
        </td>
      </tr>
    </table>
  </div>

  <!-- 語学力 -->
  <h4>{{= label.JkskSkillLanguageSkill}}</h4>

  <div class="mod-table ami">
    <table>
      <tr>
        <td class="q-comment">{{= label.JkskSkillLanguageSkillText }}</td>
      </tr>
    </table>
  </div>

  <h3></h3>

  <!-- 資格 -->
  <div class="mod-table ami">
    <table>
      <tr>
        <th style="width:40%;">{{= label.JkskSkillShikakuNm }} {{= tooltip( label.JkskSkillShikakuNmTips ) }}</th>
        <th style="width:10%;">{{= label.JkskSkillShikakuDate }}</th>
        <th style="width:10%;">{{= label.JkskSkillShikakuKigen }}</th>
        <th>{{= label.JkskSkillShikakuShosai }}</th>
      </tr>
      <!-- 資格1-3（模擬トレ1-3） -->
      {{ for ( var i = 1; i <= 3; i++ ) { }}
      {{ var idx = ( '0' + i ).slice( -2 ); }}
      <tr>
        <td>{{= fill['jksk_skill_shikaku_mogi_' + idx + '_nm'] }}</td>
        <td style="white-space: nowrap;">{{= fill['jksk_skill_shikaku_mogi_' + idx + '_date'] }}</td>
        <td style="white-space: nowrap;">{{= fill['jksk_skill_shikaku_mogi_' + idx + '_kigen'] }}</td>
        <td>{{= fill['jksk_skill_shikaku_mogi_' + idx + '_shosai'] }}</td>
      </tr>
      {{ } }}

      <!-- 資格4-5（TOEIC1-2） -->
      {{ for ( var j = 1; j <= 2; j++ ) { }}
      {{ var idx = ( '0' + j ).slice( -2 ); }}
      <tr>
        <td>{{= fill['jksk_skill_shikaku_toeic_' + idx + '_nm'] }}</td>
        <td style="white-space: nowrap;">{{= fill['jksk_skill_shikaku_toeic_' + idx + '_date'] }}</td>
        <td style="white-space: nowrap;">{{= fill['jksk_skill_shikaku_toeic_' + idx + '_kigen'] }}</td>
        <td>{{= fill['jksk_skill_shikaku_toeic_' + idx + '_shosai'] }}</td>
      </tr>
      {{ } }}
    </table>
  </div>

  <!-- 「語学レベル目安」ボタン -->
  <h3></h3>
  <button type="button" id="LangSkillIndicBtn" class="btn btn-default btn-style">{{= label.JkskSkillLangSkillIndicate }}</button>
  <h3></h3>

  <div class="mod-table ami">
    <table>
      <tr>
        <td class="q-comment">{{= label.JkskSkillLangSkillIndicText }}</td>
      </tr>
    </table>
  </div>

  <h3></h3>

  <!-- 言語レベル -->
  <div class="mod-table ami">
    <table>
      <tr>
        <th colspan="2" style="font-weight: bold;">{{= label.JkskSkillLang01Nm }}</th>
        <td colspan="3">{{= param.jksk_lang_eng }}</td>
      </tr>
      <!-- 言語1 -->
      <tr>
        <th rowspan="2">{{= label.JkskSkillLang01Level }}</th>
        <th>{{= label.JkskSkillLang01LvYomikaki }}<span style="color:red;"> ※</span></th>
        <td colspan="3">
          <select class="" name="Fill--jksk_skill_lang_01_lv_yomikaki" data-pulldown="cspd-jksk_yomikaki_lv"></select>
        </td>
      </tr>
      <tr>
        <th>{{= label.JkskSkillLang01LvKaiwa }}<span style="color:red;"> ※</span></th>
        <td colspan="3">
          <select class="" name="Fill--jksk_skill_lang_01_lv_kaiwa" data-pulldown="cspd-jksk_kaiwa_lv"></select>
        </td>
      </tr>
      <!-- 言語2 -->
      <tr>
        <th colspan="2" style="font-weight: bold;">{{= label.JkskSkillLang02Nm }}</th>
        <td>
          <select id="jksk_skill_lang_02_nm" class="" name="Fill--jksk_skill_lang_02_nm" data-pulldown="cspd-jksk_skill_language"></select>
        </td>
        <th style="width:20%;">{{= label.JkskSkillLang02NmOther }}</th>
        <td>
          <input class="block" type="text" name="Fill--jksk_skill_lang_02_nm_other" value="">
        </td>
      </tr>
      <tr class="lang02AnsGrp">
        <th rowspan="2">{{= label.JkskSkillLang02Level }}</th>
        <th>{{= label.JkskSkillLang02LvYomikaki }}</th>
        <td colspan="3">
          <select class="" name="Fill--jksk_skill_lang_02_lv_yomikaki" data-pulldown="cspd-jksk_yomikaki_lv"></select>
        </td>
      </tr>
      <tr class="lang02AnsGrp">
        <th>{{= label.JkskSkillLang02LvKaiwa }}</th>
        <td colspan="3">
          <select class="" name="Fill--jksk_skill_lang_02_lv_kaiwa" data-pulldown="cspd-jksk_kaiwa_lv"></select>
        </td>
      </tr>
      <!-- 言語3 -->
      <tr>
        <th colspan="2" style="font-weight: bold;">{{= label.JkskSkillLang03Nm }}</th>
        <td>
          <select id="jksk_skill_lang_03_nm" class="" name="Fill--jksk_skill_lang_03_nm" data-pulldown="cspd-jksk_skill_language"></select>
        </td>
        <th>{{= label.JkskSkillLang03NmOther }}</th>
        <td>
          <input class="block" type="text" name="Fill--jksk_skill_lang_03_nm_other" value="">
        </td>
      </tr>
      <tr class="lang03AnsGrp">
        <th rowspan="2">{{= label.JkskSkillLang03Level }}</th>
        <th>{{= label.JkskSkillLang03LvYomikaki }}</th>
        <td colspan="3">
          <select class="" name="Fill--jksk_skill_lang_03_lv_yomikaki" data-pulldown="cspd-jksk_yomikaki_lv"></select>
        </td>
      </tr>
      <tr class="lang03AnsGrp">
        <th>{{= label.JkskSkillLang03LvKaiwa }}</th>
        <td colspan="3">
          <select class="" name="Fill--jksk_skill_lang_03_lv_kaiwa" data-pulldown="cspd-jksk_kaiwa_lv"></select>
        </td>
      </tr>
      <!-- 言語質問 -->
      <tr>
        <th colspan="2" style="width:30%">{{= label.JkskSkillLangQues01 }}<span style="color:red;"> ※</span></th>
        <td colspan="3">
          <select class="" name="Fill--jksk_skill_lang_ques_01" data-pulldown="cspd-jksk_lang_ans01"></select>
        </td>
      </tr>
      <tr>
        <th colspan="2">{{= label.JkskSkillLangQues02 }}</th>
        <td colspan="3">
          <textarea class="block" rows="3" name="Fill--jksk_skill_lang_ques_02"></textarea>
        </td>
      </tr>
    </table>
  </div>

  <!-- 保有資格/スキル -->
  <h4>{{= label.JkskSkillMenkyoShikaku }}</h4>

  <div class="mod-table ami">
    <table>
      <tr>
        <td class="q-comment">{{= label.JkskSkillText }}</td>
      </tr>
    </table>
  </div>

  <h3></h3>

  <!-- IT検定・SB流ビジネス統計検定 -->
  <div class="mod-table ami">
    <table>
      <tr>
        <th style="width:40%;">{{= label.JkskSkillShikakuItsbNm }} {{= tooltip( label.JkskSkillShikakuItsbNmTips ) }}</th>
        <th style="width:10%;">{{= label.JkskSkillShikakuItsbDate }}</th>
        <th style="width:10%;">{{= label.JkskSkillShikakuItsbKigen }}</th>
        <th>{{= label.JkskSkillShikakuItsbShosai }}</th>
      </tr>
      <tr>
        <td>{{= fill['jksk_skill_shikaku_itken_nm'] }}</td>
        <td style="white-space: nowrap;">{{= fill['jksk_skill_shikaku_itken_date'] }}</td>
        <td style="white-space: nowrap;">{{= fill['jksk_skill_shikaku_itken_kigen'] }}</td>
        <td>{{= fill['jksk_skill_shikaku_itken_shosai'] }}</td>
      </tr>
      <tr>
        <td>{{= fill['jksk_skill_shikaku_sbryu_nm'] }}</td>
        <td style="white-space: nowrap;">{{= fill['jksk_skill_shikaku_sbryu_date'] }}</td>
        <td style="white-space: nowrap;">{{= fill['jksk_skill_shikaku_sbryu_kigen'] }}</td>
        <td>{{= fill['jksk_skill_shikaku_sbryu_shosai'] }}</td>
      </tr>
    </table>
  </div>

  <h3></h3>

  <div class="mod-table ami">
    <table>
      <tr>
        <td class="q-comment">{{= label.JkskSkillShikakuNaviText }}</td>
      </tr>
    </table>
  </div>

  <!-- 人事Navi登録済み資格 -->
  <div style="margin: 30px;"></div>
  <h3 style="float: left;">{{= label.JkskSkillShikakuNavi }}</h3>
  <div style="float: right; margin: 10px;">
    <button type="button" id="btn_skill_onoff" class="btn btn-default">{{= label.JkskSkillAllOnOff }}</button>
  </div>

  <h3></h3>

  <div class="mod-table ami">
    <table>
      {{ for ( var i = 1; i <= 10; i++ ) { }}
      {{ var idx = ( '0' + i ).slice( -2 ); }}
      {{ var clsAttr = (i >= 6) ? "naviShikakuGrp" : ""}}
      <tr class="{{= clsAttr }}">
        {{ if ( i === 1 ) { }}
        <th style="width:20%;">{{= label['JkskSkillShikakuNavi01Nm'] }}</th>
        <td style="width:40%;">{{= fill['jksk_skill_shikaku_navi_01_nm']}}</td>
        <th style="width:10%;">{{= label['JkskSkillShikakuNavi01Date'] }}</th>
        <td style="width:10%; white-space: nowrap;">{{= fill['jksk_skill_shikaku_navi_01_date']}}</td>
        <th style="width:10%;">{{= label['JkskSkillShikakuNavi01Kigen'] }}</th>
        <td style="width:10%; white-space: nowrap;">{{= fill['jksk_skill_shikaku_navi_01_kigen']}}</td>
        {{ } else { }}
        <th>{{= label['JkskSkillShikakuNavi' + idx + 'Nm'] }}</th>
        <td>{{= fill['jksk_skill_shikaku_navi_' + idx + '_nm']}}</td>
        <th>{{= label['JkskSkillShikakuNavi' + idx + 'Date'] }}</th>
        <td style="white-space: nowrap;">{{= fill['jksk_skill_shikaku_navi_' + idx + '_date']}}</td>
        <th>{{= label['JkskSkillShikakuNavi' + idx + 'Kigen'] }}</th>
        <td style="white-space: nowrap;">{{= fill['jksk_skill_shikaku_navi_' + idx + '_kigen']}}</td>
        {{ } }}
      </tr>
      {{ } }}
    </table>
  </div>

  <!-- 追加資格(選択入力) -->
  <div style="margin: 30px;"></div>

  <h3 style="float: left;">{{= label.JkskSkillShikakuTsuikaSen }}</h3>

  <div class="mod-table ami">
    <table>
      {{ for ( var i = 1; i <= 5; i++ ) { }}
      {{ var idx = ( '0' + i ).slice( -2 ); }}
      <tr>
        {{ if ( i === 1 ) { }}
        <th style="width:20%;">{{= label['JkskSkillShikakuTsuikaSen' + idx + 'Nm'] }}
          <button type="button" id="jksk_skill_shikaku_tsuika_sen_01_nm_btn" class="btn btn-default" data-row="01" style="margin: 8px;">{{= label.JkskSelectShikaku }}</button>
        </th>
        <td style="width:28%;" id="jksk_skill_shikaku_tsuika_sen_01_nm"><span>{{= fill['jksk_skill_shikaku_tsuika_sen_01_nm'] }}</span>
          <div style="float:right;">
            <button type="button" id="shikakuClearBtn01" class="btn btn-default" data-row="01" style="margin: 3px; color: red;">×</button>
          </div>
        </td>
        <th style="width:11%;">{{= label['JkskSkillShikakuTsuikaSen01Date'] }} {{= tooltip( label.JkskSkillShikakuTsuikaSenDateTips ) }}</th>
        <td style="width:100px;">
          <input type="text" id="jksk_skill_shikaku_tsuika_sen_01_date" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_sen_01_date" style="width: 100px;">
        </td>
        <th style="width:11%;">{{= label['JkskSkillShikakuTsuikaSen' + idx + 'Kigen'] }}</th>
        <td style="width:100px;">
          <input type="text" id="jksk_skill_shikaku_tsuika_sen_{{= idx }}_kigen" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_sen_{{= idx }}_kigen" style="width: 100px;">
        </td>
        {{ } else { }}
        <th>{{= label['JkskSkillShikakuTsuikaSen' + idx + 'Nm'] }}
          <button type="button" id="jksk_skill_shikaku_tsuika_sen_{{= idx }}_nm_btn" class="btn btn-default" data-row="{{= idx }}" style="margin: 8px;">{{= label.JkskSelectShikaku }}</button>
        </th>
        <td id="jksk_skill_shikaku_tsuika_sen_{{= idx }}_nm"><span>{{= fill['jksk_skill_shikaku_tsuika_sen_' + idx + '_nm'] }}</span>
          <div style="float:right;">
            <button type="button" id="shikakuClearBtn{{= idx }}" class="btn btn-default" data-row="{{= idx }}" style="margin: 3px; color: red;">×</button>
          </div>
        </td>
        <th>{{= label['JkskSkillShikakuTsuikaSen' + idx + 'Date'] }}</th>
        <td><input type="text" id="jksk_skill_shikaku_tsuika_sen_{{= idx }}_date" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_sen_{{= idx }}_date" style="width: 100px;"></td>
        <th>{{= label['JkskSkillShikakuTsuikaSen' + idx + 'Kigen'] }}</th>
        <td><input type="text" id="jksk_skill_shikaku_tsuika_sen_{{= idx }}_kigen" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_sen_{{= idx }}_kigen" style="width: 100px;"></td>
        {{ } }}
      </tr>
      {{ } }}
    </table>
  </div>

  <!-- 追加資格（自由入力） -->
  <div style="margin: 30px;"></div>
  <h3>{{= label.JkskSkillShikakuTsuikaJiyu }}</h3>

  <div class="mod-table ami">
    <table>
      {{ for ( var i = 1; i <= 5; i++ ) { }}
      {{ var idx = ( '0' + i ).slice( -2 ); }}
      <tr>
        {{ if ( i === 1 ) { }}
        <th style="width:20%;">{{= label['JkskSkillShikakuTsuikaJiyu01Nm'] }}</th>
        <td style="width:28%;"><input class="block" type="text" name="Fill--jksk_skill_shikaku_tsuika_jiyu_01_nm"></td>
        <th style="width:11%;">{{= label['JkskSkillShikakuTsuikaJiyu01Date'] }} {{= tooltip( label.JkskSkillShikakuTsuikaJiyuDateTips ) }}</th>
        <td style="width:100px;"><input type="text" id="jksk_skill_shikaku_tsuika_jiyu_01_date" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_jiyu_01_date" style="width: 100px;"></td>
        <th style="width:11%;">{{= label['JkskSkillShikakuTsuikaJiyu01Kigen'] }}</th>
        <td style="width:100px;"><input type="text" id="jksk_skill_shikaku_tsuika_jiyu_01_kigen" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_jiyu_01_kigen" style="width:100px;"></td>
        {{ } else { }}
        <th>{{= label['JkskSkillShikakuTsuikaJiyu' +idx + 'Nm'] }}</th>
        <td><input class="block" type="text" name="Fill--jksk_skill_shikaku_tsuika_jiyu_{{= idx }}_nm"></td>
        <th>{{= label['JkskSkillShikakuTsuikaJiyu' + idx + 'Date'] }}</th>
        <td><input type="text" id="jksk_skill_shikaku_tsuika_jiyu_{{= idx }}_date" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_jiyu_{{= idx }}_date" style="width: 100px;"></td>
        <th>{{= label['JkskSkillShikakuTsuikaJiyu' + idx + 'Kigen'] }}</th>
        <td><input type="text" id="jksk_skill_shikaku_tsuika_jiyu_{{= idx }}_kigen" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_jiyu_{{= idx }}_kigen" style="width:100px;"></td>
        {{ } }}
      </tr>
      {{ } }}
    </table>
  </div>

  <h3></h3>

  <!-- 今後のキャリアについて -->
  <h4>{{= label.JkskCarNow }}</h4>
  <div class="mod-table ami">
    <table>
      <tr>
        <td class="q-comment">{{= label.JkskCarNowText01 }}</td>
      </tr>
    </table>
  </div>

  <h3></h3>

  {{ if (_data.sheet.txtC !== "0") { }}
  {{ var idx = ("0" + _data.sheet.txtC).slice(-2); }}
  <div class="mod-table ami">
    <table>
      <tr>
        <td class="q-comment">{{= label["JkskBatonTouchDesc" + idx] }}</td>
      </tr>
    </table>
  </div>

  <h3></h3>
  {{ } }}

  <!-- 直近のキャリア -->
  <div class="mod-table ami">
    <table>
      <tr>
        <th style="width:30%;">{{= label.JkskCarNowHanQues01 }}<span style="color:red;"> ※</span></th>
        <td>
          <select class="" name="Fill--jksk_car_now_han_ques_01" data-pulldown="cspd-jksk_car_now_han_ans01"></select>
        </td>
      </tr>
      <tr>
        <th>{{= label.JkskCarNowHanQues02 }}<span style="color:red;"> ※</span></th>
        <td>
          <textarea class="block" rows="5" name="Fill--jksk_car_now_han_ques_02"></textarea>
        </td>
      </tr>
    </table>
  </div>

  <h3></h3>

  <!-- その他 -->
  <h4>{{= label.JkskCarOthers }}</h4>

  <div class="mod-table ami">
    <table>
      <!-- 希望勤務地理由・申し伝え事項 -->
      <tr>
        <th style="width:30%;">{{= label.JkskCarOtherQues01 }}</th>
        <td colspan="3">
          <textarea class="block" rows="3" name="Fill--jksk_car_other_ques_01"></textarea>
        </td>
      </tr>
    </table>
  </div>

  <!-- 上長所見欄 -->
  <div id="bossShokenArea">
    <div style="float: left;">
      <h4>{{= label.JkskBosShoken }}</h4>
    </div>

    <div class="mod-table ami bosShoken">
      <table>
        <tr>
          <th style="width:30%;">{{= label.JkskBosMendan }}<span style="color:red;"> ※</span></th>
          <td>
            <input class="datepicker-date" style="width: 100px;" type="text" name="Fill--jksk_bos_mendan">
          </td>
        </tr>
      </table>
    </div>

    <h3></h3>

    <!-- 直近（上長） -->
    <div class="mod-table ami bosShoken">
      <table>
        <tr>
          <th style="width:30%;">{{= label.JkskBosNowHanQues01 }}<span style="color:red;"> ※</span></th>
          <td>
            <select class="" name="Fill--jksk_bos_now_han_ques_01" data-pulldown="cspd-jksk_bos_now_han_ans01"></select>
          </td>
        </tr>
        <tr>
          <th>{{= label.JkskBosNowHanQues02 }}<span style="color:red;"> ※</span></th>
          <td>
            <textarea class="block" rows="5" name="Fill--jksk_bos_now_han_ques_02"></textarea>
          </td>
        </tr>
      </table>
    </div>

    <h3></h3>

    <!-- 1-3年後（上長） -->
    <div class="mod-table ami bosShoken">
      <table>
        <tr>
          <th style="width:30%;">{{= label.JkskBos3yrQues03 }}<span style="color:red;"> ※</span></th>
          <td>
            <textarea class="block" rows="3" name="Fill--jksk_bos_3yr_ques_03"></textarea>
          </td>
        </tr>
      </table>
    </div>

    <h3></h3>

    <!-- その他（上長） -->
    <div class="mod-table ami bosShoken">
      <table>
        <tr>
          <th style="width:30%;">{{= label.JkskBosOtherQues01 }}<span style="color:red;"> ※</span></th>
          <td><textarea class="block" rows="3" name="Fill--jksk_bos_other_ques_01"></textarea></td>
        </tr>
        <tr>
          <th>{{= label.JkskBosOtherQues02 }}<span style="color:red;"> ※</span></th>
          <td>
            <textarea class="block"rows="3" name="Fill--jksk_bos_other_ques_02"></textarea>
          </td>
        </tr>
        <tr>
          <th>{{= label.JkskBosOtherQues03 }}<span style="color:red;"> ※</span></th>
          <td>
            <textarea class="block"rows="3" name="Fill--jksk_bos_other_ques_03"></textarea>
          </td>
        </tr>
        <tr>
          <th>{{= label.JkskBosOtherQues04 }}</th>
          <td>
            <textarea class="block"rows="3" name="Fill--jksk_bos_other_ques_04"></textarea>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- 「自己申告」タブのhidden項目定義 -->
  <div class="jkskHiddenFields">
    <div class="honninHiddenField">
      <!-- 現在の業務内容 -->
      <input type="hidden" name="Fill--jksk_ge_shokushu_A">
      <input type="hidden" name="Fill--jksk_ge_shokushu_B">
      <input type="hidden" name="Fill--jksk_ge_shokushu_C">
      <input type="hidden" name="Fill--jksk_ge_shu">

      <!-- 過去の業務内容1-4 -->
      {{ for (i = 1; i <= 4; i++) { }}
        {{ var idx = ("0" + i).slice(-2); }}
        <input type="hidden" name="Fill--jksk_ka_{{= idx }}_shokushu_A">
        <input type="hidden" name="Fill--jksk_ka_{{= idx }}_shokushu_B">
        <input type="hidden" name="Fill--jksk_ka_{{= idx }}_shokushu_C">
      {{ } }}

      <!-- 過去の業務内容5 -->
      <input type="hidden" name="Fill--jksk_ka_05_shozoku">
      <input type="hidden" name="Fill--jksk_ka_05_kigyomei">
      <input type="hidden" name="Fill--jksk_ka_05_shokushu_A">
      <input type="hidden" name="Fill--jksk_ka_05_shokushu_B">
      <input type="hidden" name="Fill--jksk_ka_05_shokushu_C">
      <input type="hidden" name="Fill--jksk_ka_05_gyomunaiyo">
      <input type="hidden" name="Fill--jksk_ka_05_kai">
      <input type="hidden" name="Fill--jksk_ka_05_shu">

      <!-- 追加資格（選択入力） -->
      {{ for (i = 1; i <= 5; i++) { }}
        {{ var idx = ("0" + i).slice(-2); }}

        <input type="hidden" name="Fill--jksk_skill_shikaku_tsuika_sen_{{= idx }}_code">
        <input type="hidden" name="Fill--jksk_skill_shikaku_tsuika_sen_{{= idx }}_nm">
      {{ } }}

      <!-- 経験したい業務1-2 -->
      {{ for (i = 3; i <= 4; i++) { }}
        {{ var idx = ("0" + i).slice(-2); }}

        <input type="hidden" name="Fill--jksk_car_now_ques_{{= idx }}_A">
        <input type="hidden" name="Fill--jksk_car_now_ques_{{= idx }}_B">
        <input type="hidden" name="Fill--jksk_car_now_ques_{{= idx }}_C">
      {{ } }}
    </div>
  </div>
</div>
<!-- 自己申告タブ End -->

<!-- 海外・外国語利用経験タブ Start -->
<div class="tabpage tab02">
  <h3 class="lightBg">
  {{= label.JkskGlobalExperience }}
  </h3>

  <h3></h3>

  <!-- ビジネス経験（言語） -->
  <div class="mod-table ami">
    <table>
      <tr>
        <th style="width:30%; font-weight:bold;" colspan="2">{{= label.JkskGloBusiLangQues01 }}<span style="color:red;"> ※</span></th>
        <td colspan="2">
          <select id="jksk_glo_busi_lang_ques_01" class="" name="Fill--jksk_glo_busi_lang_ques_01" data-pulldown="cspd-jksk_glo_busi_lang_ans01"></select>
        </td>
      </tr>

      {{ for ( var i = 1; i <= 3; i++ ) { }}
      {{ var idx = ( '0' + i ).slice( -2 ); }}
      <tr class="gloBusiLangAnsGrp">
        <th rowspan="3" style="width:5%;">{{= label['JkskGloBusiLang' + idx] }}</th>
        <th rowspan="2" style="width:15%;">{{= label['JkskGloBusiLang' + idx + 'Nm'] }}</th>
        <td colspan="2">
          <select class="" name="Fill--jksk_glo_busi_lang_{{= idx }}_nm" data-pulldown="cspd-jksk_busi_language"></select>
        </td>
      </tr>
      <tr class="gloBusiLangAnsGrp">
        <th style="width:25%;">{{= label['JkskGloBusiLang' + idx + 'Other'] }}</th>
        <td><input class="block" type="text" name="Fill--jksk_glo_busi_lang_{{= idx }}_nm_other"></td>
      </tr>
      <tr class="gloBusiLangAnsGrp">
        {{ if ( i == 1 ) { }}
        <th>{{= label['JkskGloBusiLang01Naiyo'] }} {{= tooltip( label.JkskGloBusiLangNaiyoTips ) }}</th>
        {{ } else { }}
        <th>{{= label['JkskGloBusiLang' + idx + 'Naiyo'] }}</th>
        {{ } }}
        <td colspan="2"><textarea class="block" rows="3" name="Fill--jksk_glo_busi_lang_{{= idx }}_naiyo"></textarea></td>
      </tr>
      {{ } }}
      <tr class="gloBusiLangAnsGrp">
        <th colspan="2">{{= label.JkskGloBusiLangQues02 }}</th>
        <td colspan="2">
          <select class="" name="Fill--jksk_glo_busi_lang_ques_02" data-pulldown="cspd-jksk_glo_busi_lang_ans02"></select>
        </td>
      </tr>
    </table>
  </div>

  <h3></h3>

  <!-- ビジネス経験（日本以外の国） -->
  <div class="mod-table ami">
    <table>
      <tr>
        <th colspan="2" style="width:30%; font-weight:bold;" >{{= label.JkskGloBusiExpQues01 }}<span style="color:red;"> ※</span></th>
        <td colspan="3">
          <select id="jksk_glo_busi_exp_ques_01" class="" name="Fill--jksk_glo_busi_exp_ques_01" data-pulldown="cspd-jksk_glo_busi_exp_ans01"></select>
        </td>
      </tr>
      {{ for ( var i = 1; i <= 3; i++ ) { }}
      {{ var idx = ( '0' + i ).slice( -2 ); }}
      <tr class="gloBusiExpAnsGrp">
        <th rowspan="6" style="width:5%;">{{= label['JkskGloBusiExp' + idx] }}</th>
        <th rowspan="2"style="width:15%;">{{= label['JkskGloBusiExp' + idx + 'ChiikiKuni'] }}</th>
        <th style="width:25%;">{{= label['JkskGloBusiExp' + idx + 'Chiiki'] }}</th>
        <td colspan="2">
          <select class="" name="Fill--jksk_glo_busi_exp_{{= idx }}_chiiki" data-pulldown="cspd-jksk_glo_busi_exp_chiiki"></select>
        </td>
      </tr>
      <tr class="gloBusiExpAnsGrp">
        <th>{{= label['JkskGloBusiExp' + idx + 'Kuni'] }}</th>
        <td colspan="2"><input class="block" type="text" name="Fill--jksk_glo_busi_exp_{{= idx }}_kuni"></td>
      </tr>
      <tr class="gloBusiExpAnsGrp">
        <th>{{= label['JkskGloBusiExp' + idx + 'Shubetsu'] }}</th>
        <td colspan="3">
          <select class="" name="Fill--jksk_glo_busi_exp_{{= idx }}_shubetsu" data-pulldown="cspd-jksk_glo_busi_exp_shubetsu"></select>
        </td>
      </tr>
      <tr class="gloBusiExpAnsGrp">
        <th><div style="margin-top: 16px; float:left;">{{= label['JkskGloBusiExp' + idx + 'Shokushu'] }}</div>
          <button type="button" id="jksk_glo_busi_exp_{{= idx }}_shokushu_btn" class="btn frm_lst_btn" style="margin:5px; float:right;" data-row="{{= idx }}">{{= label.JkskSelectList }}</button>
        </th>
        <td id="jksk_glo_busi_exp_{{= idx }}_shokushu_A">{{= fill['jksk_glo_busi_exp_' + idx + '_shokushu_A'] }}</td>
        <td id="jksk_glo_busi_exp_{{= idx }}_shokushu_B">{{= fill['jksk_glo_busi_exp_' + idx + '_shokushu_B'] }}</td>
        <td id="jksk_glo_busi_exp_{{= idx }}_shokushu_C">{{= fill['jksk_glo_busi_exp_' + idx + '_shokushu_C'] }}</td>
      </tr>
      <tr class="gloBusiExpAnsGrp">
        <th>{{= label['JkskGloBusiExp' + idx + 'Naiyo'] }}</th>
        <td colspan="3"><textarea class="block" rows="3" name="Fill--jksk_glo_busi_exp_{{= idx }}_naiyo"></textarea></td>
      </tr>
      <tr class="gloBusiExpAnsGrp">
        <th>{{= label['JkskGloBusiExp' + idx + 'FromTo'] }}</th>
        <td colspan="3" style="padding:0px;">
          <table>
            <tr>
              <th style="width:10%; text-align: center;">{{= label['JkskGloBusiExp' + idx + 'Kai'] }}</th>
              <td style="width:23%;"><input type="text" id="jksk_glo_busi_exp_{{= idx }}_kai" class="datepicker-months" name="Fill--jksk_glo_busi_exp_{{= idx }}_kai"></td>
              <th style="width:10%; text-align:center">{{= label['JkskGloBusiExp' + idx + 'Shu'] }}</th>
              <td style="width:23%;"><input type="text" id="jksk_glo_busi_exp_{{= idx }}_shu" class="datepicker-months" name="Fill--jksk_glo_busi_exp_{{= idx }}_shu"></td>
              <th style="width:10%; text-align: center;">{{= label['JkskGloBusiExp' + idx + 'Kikan'] }}</th>
              <td style="width:24%;" id="jksk_glo_busi_exp_{{= idx }}_kik">{{= fill['jksk_glo_busi_exp_' + idx + '_kik'] }}</td>
            </tr>
          </table>
        </td>
      </tr>
      {{ } }}
    </table>
  </div>

  <h3></h3>

  <!-- 就学・留学経験 -->
  <div class="mod-table ami">
    <table>
      <tr>
        <th colspan="2" style="width:30%; font-weight:bold;">{{= label.JkskGloRyuQues01 }}<span style="color:red;"> ※</span></th>
        <td colspan="2">
          <select id="jksk_glo_ryu_ques_01" class="" name="Fill--jksk_glo_ryu_ques_01" data-pulldown="cspd-jksk_glo_ryu_exp_ans01"></select>
        </td>
      </tr>
      {{ for ( var i = 1; i <= 3; i++ ) { }}
      {{ var idx = ( '0' + i ).slice( -2 ); }}
      <tr class="gloRyuExpAnsGrp">
        <th rowspan="5" style="width:5%;">{{= label['JkskGloRyuExp' + idx] }}</th>
        <th rowspan="2" style="width:15%;">{{= label['JkskGloRyuExp' + idx + 'ChiikiKuni'] }}</th>
        <th style="width:25%;">{{= label['JkskGloRyuExp' + idx + 'Chiiki'] }}</th>
        <td>
          <select class="" name="Fill--jksk_glo_ryu_exp_{{= idx }}_chiiki" data-pulldown="cspd-jksk_glo_ryu_exp_chiiki"></select>
        </td>
      </tr>
      <tr class="gloRyuExpAnsGrp">
        <th>{{= label['JkskGloRyuExp' + idx + 'Kuni'] }}</th>
        <td><input class="block" type="text" name="Fill--jksk_glo_ryu_exp_{{= idx }}_kuni"></td>
      </tr>
      <tr class="gloRyuExpAnsGrp">
        <th rowspan="2">{{= label['JkskGloRyuExp' + idx + 'Naiyo'] }}</th>
        <td colspan="2">
          <select id="jksk_glo_ryu_exp_{{= idx }}_naiyo" class="" name="Fill--jksk_glo_ryu_exp_{{= idx }}_naiyo" data-pulldown="cspd-jksk_glo_ryu_exp_naiyo"></select>
        </td>
      </tr>
      <tr class="gloRyuExpAnsGrp">
        <th>{{= label['JkskGloRyuExp' + idx + 'NaiyoOther'] }}</th>
        <td><input id="jksk_glo_ryu_exp_{{= idx }}_naiyo_other" class="block" type="text" name="Fill--jksk_glo_ryu_exp_{{= idx }}_naiyo_other"></td>
      </tr>
      <tr class="gloRyuExpAnsGrp">
        <th>{{= label['JkskGloRyuExp' +idx + 'FromTo'] }}</th>
        <td colspan="3" style="padding:0px;">
          <table>
            <tr>
              <th style="width:10%; text-align: center;">{{= label['JkskGloRyuExp' + idx + 'Kai'] }}</th>
              <td style="width:23%;"><input type="text" id="jksk_glo_ryu_exp_{{= idx }}_kai" class="datepicker-months" name="Fill--jksk_glo_ryu_exp_{{= idx }}_kai"></td>
              <th style="width:10%; text-align:center">{{= label['JkskGloRyuExp'+ idx + 'Shu'] }}</th>
              <td style="width:23%;"><input type="text" id="jksk_glo_ryu_exp_{{= idx }}_shu" class="datepicker-months" name="Fill--jksk_glo_ryu_exp_{{= idx }}_shu"></td>
              <th style="width:10%; text-align: center;">{{= label['JkskGloRyuExp' + idx + 'Kikan'] }}</th>
              <td style="width:24%;" id="jksk_glo_ryu_exp_{{= idx }}_kik">{{= fill['jksk_glo_ryu_exp_' + idx + '_kik'] }}</td>
            </tr>
          </table>
        </td>
      </tr>
      {{ } }}
    </table>
  </div>
  <div class="jkskHiddenFields">
    <div class="honninHiddenField">
    <!-- 海外・外国語利用経験向けhidden項目 -->
    {{ for (i = 1; i <= 3; i++) { }}
      {{ var idx = ("0" + i).slice(-2); }}
      <input type="hidden" name="Fill--jksk_glo_busi_exp_{{= idx }}_shokushu_A">
      <input type="hidden" name="Fill--jksk_glo_busi_exp_{{= idx }}_shokushu_B">
      <input type="hidden" name="Fill--jksk_glo_busi_exp_{{= idx }}_shokushu_C">
    {{ } }}
  </div>
  </div>
</div>
<!-- 海外・外国語利用経験タブ End -->

<!-- 業務分類選択の反映先Fill名 -->
<input type="hidden" id="ref_gyomub_01" value="">
<input type="hidden" id="ref_gyomub_02" value="">
<input type="hidden" id="ref_gyomub_03" value="">

<div id="messageArea" style="display: none;">
  <!-- 語学レベル目安サブウィンドウ Start -->
  <div id="LangLevelSubWnd">
    <div class="subwnd-header">
      <h4>{{= label.JkskSkillLangLevel }}</h4>
    </div>
    <div class="subwnd-body">
      <table>
        <thead>
          <th></th>
          <th>{{= label.JkskSkillLangLevelTableHeader01 }}</th>
          <th>{{= label.JkskSkillLangLevelTableHeader02 }}</th>
        </thead>
        <tbody>
          {{ for (var i = 1; i <= 4; i++) { }}
          {{ var idx = ('0' + i).slice(-2); }}
          <tr>
            <td>{{= label["JkskSkillLangLevel" + idx] }}</td>
            <td>{{= label["JkskSkillLangYomikakiLevel" + idx] }}</td>
            <td>{{= label["JkskSkillLangKaiwaLevel" + idx] }}</td>
          </tr>
          {{ } }}
        </tbody>
      </table>
    </div>
  </div>
  <!-- 語学レベル目安サブウィンドウ End -->
</div>
