<style>
    .sheet-header-info th {
      word-break: keep-all
    }
    .mod-table .q-comment{
    background-color: #EEEEEE
    }
    .mod-table.bosShoken th {
      background-color: #FFEFD4
    }
    .mod-table.kakoGyomu th {
    background-color: #EDEDED;
    border: solid 1px white;
    }
    .mod-table .kakoGyomuNo5 th {
      background-color: #DEDEDE
    }
    .mod-table .kakoGyomuNo5 td {
      background-color: #DEDEDE
    }
    .mod-table .thick-line{
    border-right: 6px solid #EEEEEE;
    }
    .radio label i{
      border: 2px solid #C7C7C7;
    }
</style>

  <div class="cstab">
      <ul class="tabarea">
        <li id="tab01"><a href="#">{{= label.JkskTab01 }}</a></li>
        <li id="tab02"><a href="#">{{= label.JkskTab02 }}</a></li>
      </ul>
      <div class="separater"></div>
    </div>

    <!-- 自己申告タブ Start -->
    <div class="tabpage tab01">
      <h3 class="lightBg">
        {{= label.JkskJksk }}
      </h3>

      <!-- 現在の業務について -->
      <h4>{{= label.JkskGeGyomuTitle }}</h4>

      <div class="mod-table ami">
        <table>
          <tr>
            <td class="q-comment">{{= label.JkskGeGyomuText }}</td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- 現在の業務内容 -->
      <div class="mod-table ami">
        <table>
          <tr>
            <th rowspan="5" style="width: 13%;">
              <span style="font-weight: bold;">{{= label.JkskGeGyomu }}</span>
              <button type="button" class="btn" style="margin:5px;">{{= label.JkskGeMove }}</button>
              <button type="button" class="btn" style="margin:5px; ">{{= label.JkskGeAnsClear }}</button>
              <!-- <h3></h3>
              <button type="button" class="btn btn-default">過去業務へ移動</button>
              <h3></h3>
              <button type="button" class="btn btn-danger">削除</button> -->
            </th>
            <th style="width: 17%;">{{= label.JkskGeShozoku }}<span style="color:red;"> ※</span></th>
            <td style="width:20%;">
              <select class="" name="Fill--jksk_ge_shozoku" data-pulldown="cspd-jksk_shozoku"></select>
            </td>
            <th style="width:25%;">{{= label.JkskGeKigyomei }}</th>
            <td style="width:25%;"><input class="block" type="text" name="Fill--jksk_ge_kigyomei" value=""></td>
          </tr>
          <tr>
            <th>{{= label.JkskGeShokushu }}<span style="color:red;"> ※</span><button type="button" class="btn" style="margin:5px;">一覧から選択</button></th>
            <td>{{= fill['jksk_ge_shokushu_A'] }}</td>
            <td>{{= fill['jksk_ge_shokushu_B'] }}</td>
            <td>{{= fill['jksk_ge_shokushu_C'] }}</td>
          </tr>
          <tr>
            <th>{{= label.JkskGeGyomuNaiyo }}<span style="color:red;"> ※</span></th>
            <td colspan="3"><textarea class="block" rows="3" name="Fill--jksk_ge_gyomunaiyo"></textarea></td>
          </tr>
          <tr>
            <th>{{= label.JkskGeKaiFromTo }}<span style="color:red;"> ※</span></th>
            <td colspan="3" style="padding:0px;">
              <table style="border: 0px;">
                <th style="width: 10%; text-align: center;">{{= label.JkskGeKai }}</th>
                <td style="width: 23%;"><input type="text" class="datepicker-months" name="Fill--jksk_ge_kai"></td>
                <th style="width: 10%; text-align:center">{{= label.JkskGeShu }}</th>
                <td style="width: 23%;">★★★★★</td>
                <th style="width: 10%; text-align: center;">{{= label.JkskGeJyuKikan }}</th>
                <td style="width: 24%;">{{= fill['jksk_ge_jyu'] }}</td>
              </table>
            </td>
          </tr>
          <tr>
            <th>{{= label.JkskGeKinNensu }}<span style="color:red;"> ※</span></th>
            <td colspan="3" style="padding:0px;">
              <table style="border: 0px;">
                <th style="width: 25%;">{{= label.JkskGeKinChiiki }}</th>
                <td style="width: 25%;">
                  <select class="" name="Fill--jksk_ge_kin_chiiki" data-pulldown="cspd-jksk_chiiki"></select>
                </td>
                <th style="width: 25%;">{{= label.JkskGeKinKikan }}</th>
                <td style="width: 20%;"><input class="block" type="text" name="Fill--jksk_ge_kin_kikan" value=""></td>
                <td style="width: 5%;">{{= label.JkskGeKinNen }}</td>
              </table>
            </td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- 過去の業務内容１－５ -->
      <div class="mod-table ami kakoGyomu">
        <table>
          {{ for ( var i = 1; i <= 5; i++ ) { }}
            {{ var idx = ( '0' + i ).slice( -2 ); }}
            <tr>
              <th style="width:13%; background-color:#EDEDED;" rowspan="4">{{= label['JkskKaGyomu' + idx] }}</th>
              <th style="width:17%;">{{= label['JkskKa' + idx + 'Shozoku'] }}</th>
              <td style="width:20%;">
                <select class="" name="Fill--jksk_ka_{{= idx }}_shozoku" data-pulldown="cspd-jksk_shozoku"></select>
              </td>
              <th style="width:25%;">{{= label['JkskKa' + idx + 'Kigyomei'] }}</td>
              <td style="width:25%;"><input class="block" type="text" name="Fill--jksk_ka_{{= idx }}_kigyomei" value=""></td>
            </tr>
            <tr>
              <th>{{= label['JkskKa' + idx + 'Shokushu'] }}<span style="color:red;"> ※</span><button type="button" class="btn" style="margin:5px;">一覧から選択</button></th>
              <td>{{= fill['jksk_ka_' + idx + '_shokushu_A'] }}</td>
              <td>{{= fill['jksk_ka_' + idx + '_shokushu_B'] }}</td>
              <td>{{= fill['jksk_ka_' + idx + '_shokushu_C'] }}</td>
            </tr>
            <tr>
              <th>{{= label['JkskKa' + idx + 'GyomuNaiyo'] }}</th>
              <td colspan="3"><textarea class="block" rows="3" name="Fill--jksk_ka_{{= idx }}_gyomunaiyo"></textarea></td>
            </tr>
            <tr>
              <th>{{= label['JkskKa' + idx + 'JyuFromTo'] }}</th>
              <td colspan="3" style="padding:0px;">
                <table>
                  <tr>
                    <th style="width:10%; text-align: center;">{{= label['JkskKa' + idx + 'Kai'] }}</th>
                    <td style="width:23%;"><input type="text" class="datepicker-months" name="Fill--jksk_ka_{{= idx }}_kai"></td>
                    <th style="width:10%; text-align:center">{{= label['JkskKa' + idx + 'Shu'] }}</th>
                    <td style="width:23%;"><input type="text" class="datepicker-months" name="Fill--jksk_ka_{{= idx }}_shu"></td>
                    <th style="width:10%; text-align: center;">{{= label['JkskKa'+ idx + 'JyuKikan'] }}</th>
                    <td style="width:24%;">{{= fill['jksk_ka_' + idx + '_jyu'] }}</td>
                  </tr>
                </table>
              </td>
            </tr>
          {{ } }}
        </table>
      </div>

      <h3></h3>

      <div class="mod-table ami">
        <table>
          <tr>
            <td class="q-comment">{{= label.JkskGenShigotoText }}</td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <div class="mod-table ami">
        <table>
          <tr>
            <th rowspan="4" style="width: 15%; font-weight: bold;">{{= label.JkskGenShigotoKankyo }}</th>
            <th style="width:40%;">{{= label.JkskGenShigotoQues01 }}<span style="color:red;"> ※</span></th>
            <td>
              <select class="" name="Fill--jksk_gen_shigoto_01" data-pulldown="cspd-jksk_shigoto_ans01"></select>
            </td>
          </tr>
          <tr>
            <th>{{= label.JkskGenShigotoQues02 }}<span style="color:red;"> ※</span></th>
            <td>
              <select class="" name="Fill--jksk_gen_shigoto_02" data-pulldown="cspd-jksk_shigoto_ans02"></select>
            </td>
          </tr>
          <tr>
            <th>{{= label.JkskGenShigotoQues03 }}<span style="color:red;"> ※</span></th>
            <td>
              <select class="" name="Fill--jksk_gen_shigoto_03" data-pulldown="cspd-jksk_shigoto_ans03"></select>
            </td>
          </tr>
          <tr>
            <th>{{= label.JkskGenShigotoQues04 }}<span style="color:red;"> ※</span></th>
            <td>
              <select class="" name="Fill--jksk_gen_shigoto_04" data-pulldown="cspd-jksk_shigoto_ans04"></select>
            </td>
          </tr>
          <tr>
            <th rowspan="6" style="width: 15%; font-weight: bold;">{{= label.JkskGenShigotoTekisei }}</th>
            <th rowspan="3">{{= label.JkskGenShigotoQues05 }}<span style="color:red;"> ※</span></th>
            <td>
              <select class="" name="Fill--jksk_gen_shigoto_05_01" data-pulldown="cspd-jksk_shigoto_ans05"></select>
            </td>
          </tr>
          <tr>
            <td>
              <select class="" name="Fill--jksk_gen_shigoto_05_02" data-pulldown="cspd-jksk_shigoto_ans05"></select>
            </td>
          </tr>
          <tr>
            <td>
              <select class="" name="Fill--jksk_gen_shigoto_05_03" data-pulldown="cspd-jksk_shigoto_ans05"></select>
            </td>
          </tr>
          <tr>
            <th rowspan="3">{{= label.JkskGenShigotoQues06 }}<span style="color:red;"> ※</span></th>
            <td>
              <select class="" name="Fill--jksk_gen_shigoto_06_01" data-pulldown="cspd-jksk_shigoto_ans06"></select>
            </td>
          </tr>
          <tr>
            <td>
              <select class="" name="Fill--jksk_gen_shigoto_06_02" data-pulldown="cspd-jksk_shigoto_ans06"></select>
            </td>
          </tr>
          <tr>
            <td>
              <select class="" name="Fill--jksk_gen_shigoto_06_03" data-pulldown="cspd-jksk_shigoto_ans06"></select>
            </td>
          </tr>
        </table>
      </div>

      <!-- 保有スキル・免許・資格 -->
      <h4>{{= label.JkskSkillMenkyoShikaku }}</h4>

      <div class="mod-table ami">
        <table>
          <tr>
            <td class="q-comment">{{= label.JkskSkillText }}</td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- 資格 -->
      <div class="mod-table ami">
        <table>
          <tr>
            <th style="width:40%;">{{= label.JkskSkillShikakuNm }} {{= tooltip( label.JkskSkillShikakuNmTips ) }}</th>
            <th style="width:10%;">{{= label.JkskSkillShikakuDate }}</th>
            <th style="width:10%;">{{= label.JkskSkillShikakuKigen }}</th>
            <th>{{= label.JkskSkillShikakuShosai }}</th>
          </tr>
          <!-- 模擬トレ -->
          {{ for ( var i = 1; i <= 3; i++ ) { }}
            {{ var idx = ( '0' + i ).slice( -2 ); }}
            <tr>
              <td>{{= fill['jksk_skill_shikaku_mogi_' + idx + '_nm'] }}</td>
              <td>{{= fill['jksk_skill_shikaku_mogi_' + idx + '_date'] }}</td>
              <td>{{= fill['jksk_skill_shikaku_mogi_' + idx + '_kigen'] }}</td>
              <td>{{= fill['jksk_skill_shikaku_mogi_' + idx + '_shosai'] }}</td>
            </tr>
          {{ } }}

          <!-- TOEIC -->
          {{ for ( var j = 0; j <= 2; j++ ) { }}
            {{ var idx = ( '0' + j ).slice( -2 ); }}
            <tr>
              <td>{{= fill['jksk_skill_shikaku_toeic_' + idx + '_nm'] }}</td>
              <td>{{= fill['jksk_skill_shikaku_toeic_' + idx + '_date'] }}</td>
              <td>{{= fill['jksk_skill_shikaku_toeic_' + idx + '_kigen'] }}</td>
              <td>{{= fill['jksk_skill_shikaku_toeic_' + idx + '_shosai'] }}</td>
            </tr>
          {{ } }}
        </table>
      </div>

      <h3></h3>
      <button type="button" class="btn btn-default">{{= label.JkskSkillLangLevel }}</button>
      <h3></h3>

      <!-- 言語レベル -->
      <div class="mod-table ami">
        <table>
          <tr>
            <th colspan="2" style="font-weight: bold;">{{= label.JkskSkillLang01Nm }}</th>
            <td colspan="3">{{= param.jksk_lang_eng }}</td>
          </tr>
          <tr>
            <th rowspan="2">{{= label.JkskSkillLang01Level }}</th>
            <th>{{= label.JkskSkillLang01LvYomikaki }}<span style="color:red;"> ※</span></th>
            <td colspan="3">
              <select class="" name="Fill--jksk_skill_lang_01_lv_yomikaki" data-pulldown="cspd-jksk_yomikaki_lv"></select>
            </td>
          </tr>
          <tr>
            <th>{{= label.JkskSkillLang01LvKaiwa }}<span style="color:red;"> ※</span></th>
            <td colspan="3">
              <select class="" name="Fill--jksk_skill_lang_01_lv_kaiwa" data-pulldown="cspd-jksk_kaiwa_lv"></select>
            </td>
          </tr>
          <tr>
            <th colspan="2" style="font-weight: bold;">{{= label.JkskSkillLang02Nm }}</th>
            <td>
              <select class="" name="Fill--jksk_skill_lang_02_nm" data-pulldown="cspd-jksk_skill_language"></select>
            </td>
            <th style="width:20%;">{{= label.JkskSkillLang02NmOther }}</th>
            <td><input class="block" type="text" name="Fill--jksk_skill_lang_02_nm_other" value=""></td>
          </tr>
          <tr>
            <th rowspan="2">{{= label.JkskSkillLang02Level }}</th>
            <th>{{= label.JkskSkillLang02LvYomikaki }}</th>
            <td colspan="3">
              <select class="" name="Fill--jksk_skill_lang_02_lv_yomikaki" data-pulldown="cspd-jksk_yomikaki_lv"></select>
            </td>
          </tr>
          <tr>
            <th>{{= label.JkskSkillLang02LvKaiwa }}</th>
            <td colspan="3">
              <select class="" name="Fill--jksk_skill_lang_02_lv_kaiwa" data-pulldown="cspd-jksk_kaiwa_lv"></select>
            </td>
          </tr>
          <tr>
            <th colspan="2" style="font-weight: bold;">{{= label.JkskSkillLang03Nm }}</th>
            <td>
              <select class="" name="Fill--jksk_skill_lang_03_nm" data-pulldown="cspd-jksk_skill_language"></select>
            </td>
            <th>{{= label.JkskSkillLang03NmOther }}</th>
            <td><input class="block" type="text" name="Fill--jksk_skill_lang_03_nm_other" value=""></td>
          </tr>
          <tr>
            <th rowspan="2">{{= label.JkskSkillLang03Level }}</th>
            <th>{{= label.JkskSkillLang03LvYomikaki }}</th>
            <td colspan="3">
              <select class="" name="Fill--jksk_skill_lang_03_lv_yomikaki" data-pulldown="cspd-jksk_yomikaki_lv"></select>
            </td>
          </tr>
          <tr>
            <th>{{= label.JkskSkillLang03LvKaiwa }}</th>
            <td colspan="3">
              <select class="" name="Fill--jksk_skill_lang_03_lv_kaiwa" data-pulldown="cspd-jksk_kaiwa_lv"></select>
            </td>
          </tr>
          <tr>
            <th colspan="2" style="width:30%">{{= label.JkskSkillLangQues01 }}<span style="color:red;"> ※</span></th>
            <td colspan="3">
              <select class="" name="Fill--jksk_skill_lang_ques_01" data-pulldown="cspd-jksk_lang_ans01"></select>
            </td>
          </tr>
          <tr>
            <th colspan="2">{{= label.JkskSkillLangQues02 }}</th>
            <td colspan="3"><textarea class="block" rows="3" name="Fill--jksk_skill_lang_ques_02"></textarea></td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- IT検定・SB流ビジネス統計検定 -->
      <div class="mod-table ami">
        <table>
          <tr>
            <th style="width:40%;">{{= label.JkskSkillShikakuItsbNm }} {{= tooltip( label.JkskSkillShikakuItsbNmTips ) }}</th>
            <th style="width:10%;">{{= label.JkskSkillShikakuItsbDate }}</th>
            <th style="width:10%;">{{= label.JkskSkillShikakuItsbKigen }}</th>
            <th>{{= label.JkskSkillShikakuItsbShosai }}</th>
          </tr>
          <tr>
            <td>{{= fill['jksk_skill_shikaku_itken_nm'] }}</td>
            <td>{{= fill['jksk_skill_shikaku_itken_date'] }}</td>
            <td>{{= fill['jksk_skill_shikaku_itken_kigen'] }}</td>
            <td>{{= fill['jksk_skill_shikaku_itken_shosai'] }}</td>
          </tr>
          <tr>
            <td>{{= fill['jksk_skill_shikaku_sbryu_nm'] }}</td>
            <td>{{= fill['jksk_skill_shikaku_sbryu_date'] }}</td>
            <td>{{= fill['jksk_skill_shikaku_sbryu_kigen'] }}</td>
            <td>{{= fill['jksk_skill_shikaku_sbryu_shosai'] }}</td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <div class="mod-table ami">
        <table>
          <tr>
            <td class="q-comment">{{= label.JkskSkillShikakuNaviText }}</td>
          </tr>
        </table>
      </div>

      <div style="margin: 30px;"></div>
      <h3 style="float: left;">{{= label.JkskSkillShikakuNavi }}</h3>
      <div style="float: right; margin: 10px;">
        <button type="button" class="btn btn-default">{{= label.JkskSkillAllOnOff }}</button>
      </div>

      <h3></h3>

      <!-- 人事Navi登録済み資格 -->
      <div class="mod-table ami">
        <table>
          {{ for ( var i = 1; i <= 10; i++ ) { }}
            {{ var idx = ( '0' + i ).slice( -2 ); }}
            <tr>
              {{ if ( i === 1 ) { }}
              <th style="width:20%">{{= label['JkskSkillShikakuNavi' + idx + 'Nm'] }}</th>
              <td style="width:40%">{{= fill['jksk_skill_shikaku_navi_' + idx + '_nm']}}</td>
              <th style="width:10%">{{= label['JkskSkillShikakuNavi' + idx + 'Date'] }}</th>
              <td style="width:10%">{{= fill['jksk_skill_shikaku_navi_' + idx + '_date']}}</td>
              <th style="width:10%">{{= label['JkskSkillShikakuNavi' + idx + 'Kigen'] }}</th>
              <td style="width:10%">{{= fill['jksk_skill_shikaku_navi_' + idx + '_kigen']}}</td>
              {{ } else { }}
              <th>{{= label['JkskSkillShikakuNavi' + idx + 'Nm'] }}</th>
              <td>{{= fill['jksk_skill_shikaku_navi_' + idx + '_nm']}}</td>
              <th>{{= label['JkskSkillShikakuNavi' + idx + 'Date'] }}</th>
              <td>{{= fill['jksk_skill_shikaku_navi_' + idx + '_date']}}</td>
              <th>{{= label['JkskSkillShikakuNavi' + idx + 'Kigen'] }}</th>
              <td>{{= fill['jksk_skill_shikaku_navi_' + idx + '_kigen']}}</td>
              {{ } }}
            </tr>
          {{ } }}
        </table>
      </div>

      <!-- 追加資格(選択入力) -->
      <div style="margin: 30px;"></div>
      <h3 style="float: left;">{{= label.JkskSkillShikakuTsuikaSen }}</h3>

      <div class="mod-table ami">
        <table>
          {{ for ( var i = 1; i <= 5; i++ ) { }}
            {{ var idx = ( '0' + i ).slice( -2 ); }}
            <tr>
            {{ if ( i === 1 ) { }}
              <th style="width:20%;">{{= label['JkskSkillShikakuTsuikaSen' + idx + 'Nm'] }}<button type="button" class="btn btn-default" style="margin: 8px;">資格選択</button></th>
              <td style="width:28%;">{{= fill['jksk_skill_shikaku_tsuika_sen_' + idx + '_nm']}}<button type="button" class="btn btn-default" style="margin: 3px; color: red;">×</button></td>
              <th style="width:11%;">{{= label['JkskSkillShikakuTsuikaSen' + idx + 'Date'] }} {{= tooltip( label.JkskSkillShikakuTsuikaSenDateTips ) }}</th>
              <td style="width:100px;"><input type="text" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_sen_{{= idx }}_date" style="width: 100px;"></td>
              <th style="width:11%;">{{= label['JkskSkillShikakuTsuikaSen' + idx + 'Kigen'] }}</th>
              <td style="width:100px;"><input type="text" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_sen_{{= idx }}_kigen"></td>
            {{ } else { }}
              <th>{{= label['JkskSkillShikakuTsuikaSen' + idx + 'Nm'] }}<button type="button" class="btn btn-default" style="margin: 8px;">資格選択</button></th>
              <td>{{= fill['jksk_skill_shikaku_tsuika_sen_' + idx + '_nm']}}<button type="button" class="btn btn-default" style="margin: 3px; color: red;">×</button></td>
              <th>{{= label['JkskSkillShikakuTsuikaSen' + idx + 'Date'] }}</th>
              <td><input type="text" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_sen_{{= idx }}_date" style="width: 100px;"></td>
              <th>{{= label['JkskSkillShikakuTsuikaSen' + idx + 'Kigen'] }}</th>
              <td><input type="text" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_sen_{{= idx }}_kigen"></td>
            {{ } }}
            </tr>
          {{ } }}
        </table>
      </div>

      <!-- 追加資格（自由入力） -->
      <div style="margin: 30px;"></div>
      <h3>追加資格(自由入力)</h3>

      <div class="mod-table ami">
        <table>
          {{ for ( var i = 1; i <= 5; i++ ) { }}
            {{ var idx = ( '0' + i ).slice( -2 ); }}
            <tr>
              {{ if ( i === 1 ) { }}
              <th style="width:20%;">{{= label['JkskSkillShikakuTsuikaJiyu' +idx + 'Nm'] }}</th>
              <td style="width:28%;"><input class="block" type="text" name="Fill--jksk_skill_shikaku_tsuika_jiyu_{{= idx }}_nm"></td>
              <th style="width:11%;">{{= label['JkskSkillShikakuTsuikaJiyu' + idx + 'Date'] }} {{= tooltip( label.JkskSkillShikakuTsuikaJiyuDateTips ) }}</th>
              <td style="width:100px;"><input type="text" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_jiyu_{{= idx }}_date" style="width: 100px;"></td>
              <th style="width:11%;">{{= label.JkskSkillShikakuTsuikaJiyu' + idx + 'Kigen }}</th>
              <td style="width:100px;"><input type="text" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_jiyu_{{= idx }}_kigen"></td>
              {{ } else { }}
              <th>{{= label['JkskSkillShikakuTsuikaJiyu' +idx + 'Nm'] }}</th>
              <td><input class="block" type="text" name="Fill--jksk_skill_shikaku_tsuika_jiyu_{{= idx }}_nm"></td>
              <th>{{= label['JkskSkillShikakuTsuikaJiyu' + idx + 'Date'] }}</th>
              <td><input type="text" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_jiyu_{{= idx }}_date" style="width: 100px;"></td>
              <th>{{= label.JkskSkillShikakuTsuikaJiyu' + idx + 'Kigen }}</th>
              <td><input type="text" class="datepicker-date" name="Fill--jksk_skill_shikaku_tsuika_jiyu_{{= idx }}_kigen"></td>
              {{ } }}
            </tr>
          {{ } }}
        </table>
      </div>

      <h3></h3>

      <!-- Excel&Accessレベル -->
      <div class="mod-table ami">
        <table>
          <tr>
            <td class="q-comment">{{= label.JkskSkillExeclAccessText }}</td>
          </tr>
        </table>
      </div>

      <h3></h3>
      <div style="display:flex; justify-content:space-between; width:20%;">
        <button type="button" class="btn btn-default">{{ label.JkskSkillExcelLvlEdit }}</button>
        <button type="button" class="btn btn-default">{{= label.JkskSkillAccessLvlEdit }}</button>
      </div>
      <h3></h3>

      <div class="mod-table ami">
        <table>
          <tr>
            <th rowspan="2" style="width:30%;">{{= label.JkskSkillExcelLv }}<span style="color:red;"> ※</span></th>
            <th style="text-align: center; width:18%;">基礎レベル・未経験</th>
            <th style="text-align: center; width:18%;">初級</th>
            <th style="text-align: center; width:17%;">中級</th>
            <th style="text-align: center; width:17%;">上級</th>
          </tr>
          <tr>
            {{ for ( i = 1; i < 4; i++ ) { }}
              <td>
                <div style="display:flex; justify-content:space-around;">
                  <span class="radio">
                    <label>
                      <input type="radio" name="Fill--jksk_skill_excel_lv"/>
                      <i class="fa fa-circle"></i>
                    </label>
                  </span>
                </div>
              </td>
            {{ } }}
          </tr>
          <tr>
            <th>{{= label.JkskSkillAccessLv }}<span style="color:red;"> ※</span></th>
            {{ for ( var i = 1; i <= 4; i++ ) { }}
              <td>
                <div style=" display:flex; justify-content:space-around;">
                  <span class="radio">
                    <label>
                      <input type="radio" name="Fill--jksk_skill_access_lv" value="3"/>
                      <i class="fa fa-circle"></i>
                    </label>
                  </span>
                </div>
              </td>
            {{ } }}
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- プログラミングスキル -->
      <div class="mod-table ami">
        <table>
          <tr>
            <td class="q-comment">{{= label.JkskSkillProgText }}</td>
          </tr>
        </table>
      </div>

      <h3></h3>
      <button type="button" class="btn btn-default">{{= label.JkskSkillProgLevel }}</button>
      <h3></h3>

      <div class="mod-table ami">
        <table>
          <tr>
            <th style="width:30%;">{{= label.JkskSkillProgQues01 }}<span style="color:red;"> ※</span></th>
            <td colspan="8" >
              <select class="" name="Fill--jksk_skill_prog_ques_01" data-pulldown="cspd-jksk_prog_ans01"></select>
            </td>
          </tr>
          <tr>
            <th  style="text-align: center;" rowspan="22">{{= label.JkskSkillProgLevelText }}</th>
            <th class="thick-line" colspan="2">{{= label.JkskSkillProgLang }}</th>
            <th style="text-align: center;">{{= label.JkskSkillProgLevel01 }}</th>
            <th style="text-align: center;">{{= label.JkskSkillProgLevel02 }}</th>
            <th style="text-align: center;">{{= label.JkskSkillProgLevel03 }}</th>
            <th style="text-align: center;" class="thick-line">{{= label.JkskSkillProgLevel04 }}</th>
            <th style="text-align: center;">{{= label.JkskSkillProgKeiken01 }}</th>
            <th style="text-align: center;">{{= label.JkskSkillProgKeiken02 }}</th>
          </tr>
          <!-- プログラミング言語1-20 -->
          {{ for ( var i = 1; i <= 20; i++ ) { }}
            {{ var idx = ( '0' + i ).slice( -2 ); }}

            <tr>
              <td class="thick-line" colspan="2" style="width:30%;">{{= label['JkskSkillProgLang' + idx] }}</td>
              <!-- プログラミングレベル -->
              {{ for ( var j = 1; j <= 4; j++ ) { }}
                {{ var cnt1 = ( '0' + j ).slice( -2 ); }}

                {{ if ( j === 4 ) { }}
                <td class="thick-line">
                {{ } else { }}
                <td>
                {{ } }}
                  <div style="display: flex; justify-content: space-around;">
                    <span class="radio">
                      <label>
                        <input type="radio" name="Fill-jksk_skill_prog_type_{{= idx }}_lv" value="{{= label['JkskSkillProgLevel'] + cnt1 }}"/>
                        <i class="fa fa-circle"></i>
                      </label>
                    </span>
                  </div>
                </td>
              {{ } }}

              <!-- プログラミング利用経験 -->
              {{ for ( var k = 1; k <= 2; k++ ) { }}
                {{ var cnt2 = ( '0' + k ).slice( -2 ); }}
                <td>
                  <div style=" display:flex; justify-content:space-around;">
                    <span class="radio">
                      <label>
                        <input type="radio" name="Fill-jksk_skill_prog_type_{{= idx }}_keiken" value="{{= label['JkskSkillProgKeiken' + cnt2] }}"/>
                        <i class="fa fa-circle"></i>
                      </label>
                    </span>
                  </div>
                </td>
              {{ } }}
            </tr>
          {{ } }}

          <!-- プログラミングスキル（その他） -->
          <tr>
            <td>{{= label.JkskSkillProgLangOther }}</td>
            <td class="thick-line" style="width:15%;"><input class="block" type="text" name="Fill--jksk_skill_prog_type_other_nm"></td>

            <!-- プログラミングレベル -->
            {{ for ( var j = 1; j <= 4; j++ ) { }}
              {{ var cnt1 = ( '0' + j ).slice( -2 ); }}

              {{ if ( j === 4 ) { }}
              <td class="thick-line">
              {{ } else { }}
              <td>
            {{ } }}
                <div style="display: flex; justify-content: space-around;">
                  <span class="radio">
                    <label>
                      <input type="radio" name="Fill-jksk_skill_prog_type_other_lv" value="{{= label['JkskSkillProgLevel'] + cnt1 }}"/>
                      <i class="fa fa-circle"></i>
                    </label>
                  </span>
                </div>
              </td>
            {{ } }}

            <!-- プログラミング利用経験 -->
            {{ for ( var k = 1; k <= 2; k++ ) { }}
              {{ var cnt2 = ( '0' + k ).slice( -2 ); }}
              <td>
                <div style=" display:flex; justify-content:space-around;">
                  <span class="radio">
                    <label>
                      <input type="radio" name="Fill-jksk_skill_prog_type_{{= idx }}_keiken" value="{{= label['JkskSkillProgKeiken' + cnt2] }}"/>
                      <i class="fa fa-circle"></i>
                    </label>
                  </span>
                </div>
              </td>
            {{ } }}
          </tr>
          <tr>
            <th>{{= label.JkskSkillProgQues02 }} {{= tooltip( label.JkskSkillProgQues02Tips ) }}<span style="color:red;"> ※</span></th>
            <td>
              <select class="" name="Fill--jksk_skill_prog_ques_02" data-pulldown="cspd-jksk_prog_ans02"></select>
            </td>
            <td colspan="7"><textarea class="block" rows="3" name="Fill--jksk_skill_prog_ques_03"></textarea></td>
          </tr>
          <tr>
            <th>{{= label.JkskSkillProgQues04 }}</th>
            <td colspan="8"><textarea class="block" rows="3" name="jksk_skill_prog_ques_04"></textarea></td>
          </tr>
          <tr>
            <th>{{= label.JkskSkillProgQues05 }} {{= tooltip( label.JkskSkillProgQues05Tips ) }}<span style="color:red;"> ※</span></th>
            <td>
              <select class="" name="Fill--jksk_skill_prog_ques_05" data-pulldown="cspd-jksk_prog_ans05"></select>
            </td>
            <td colspan="7"><textarea class="block" rows="3" name="jksk_skill_prog_ques_06"></textarea></td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- 今後のキャリアについて -->
      <h4>{{= label.JkskCarNow }}</h4>
      <div class="mod-table ami">
        <table>
          <tr>
            <td class="q-comment">{{= label.JkskCarNowText01 }}</td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <div class="mod-table ami">
        <table>
          <tr>
            <td class="q-comment">{{= label.JkskCarNowText02 }}</td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- 直近のキャリア -->
      <div class="mod-table ami">
        <table>
          <tr>
            <th style="width:30%;">{{= label.JkskCarNowQues01 }}<span style="color:red;"> ※</span></th>
            <td colspan="3"><textarea class="block" rows="3" name="Fill--jksk_car_now_ques_01"></textarea></td>
          </tr>
          <tr>
            <th>{{= label.JkskCarNowQues02 }}<span style="color:red;"> ※</span></th>
            <td colspan="3">
              <select class="" name="Fill--jksk_car_now_ques_02" data-pulldown="cspd-jksk_car_now_ans02"></select>
            </td>
          </tr>
          <tr>
            <th><div style="margin-top: 16px; float:left;">{{= label.JkskCarNowQues03 }}</div><button type="button" class="btn" style="margin:5px; float:right;">一覧から選択</button></th>
            <td>{{= fill.jksk_car_now_ques_03_A }}</td>
            <td>{{= fill.jksk_car_now_ques_03_B }}</td>
            <td>{{= fill.jksk_car_now_ques_03_C }}</td>
          </tr>
          <tr>
            <th><div style="margin-top: 16px; float:left;">{{= label.JkskCarNowQues04 }}</div><button type="button" class="btn" style="margin:5px; float:right;">一覧から選択</button></th>
            <td>{{= fill.jksk_car_now_ques_04_A }}</td>
            <td>{{= fill.jksk_car_now_ques_04_B }}</td>
            <td>{{= fill.jksk_car_now_ques_04_C }}</td>
          </tr>
          <tr>
            <th>{{= label.JkskCarNowQues05 }}</th>
            <td colspan="3"><textarea class="block" rows="3" name="Fill--jksk_car_now_ques_05"></textarea></td>
          </tr>
          <tr>
            <th>{{= label.JkskCarNowQues06 }}<span style="color:red;"> ※</span></th>
            <td colspan="3"><textarea class="block" rows="3" name="Fill--jksk_car_now_ques_06"></textarea></td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- 1-3年後キャリア -->
      <div class="mod-table ami">
        <table>
          <tr>
            <th style="width:30%;">{{= label.JkskCar3yrQues01 }}<span style="color:red;"> ※</span></th>
            <td><textarea class="block" rows="3" name="Fill--jksk_car_3yr_ques_01"></textarea></td>
          </tr>
          <tr>
            <th>{{= label.JkskCar3yrQues02 }}<span style="color:red;"> ※</span></th>
            <td><textarea class="block" rows="3" name="Fill--jksk_car_3yr_ques_02"></textarea></td>
          </tr>
          <tr>
            <th>{{= label.JkskCar3yrQues03 }}<span style="color:red;"> ※</span></th>
            <td><textarea class="block" rows="3" name="Fill--jksk_car_3yr_ques_03"></textarea></td>
          </tr>
          <tr>
            <th>{{= label.JkskCar3yrQues04 }}<span style="color:red;"> ※</span></th>
            <td>
              <select class="" name="Fill--jksk_car_3yr_ques_04" data-pulldown="cspd-jksk_car_3yr_ans04"></select>
            </td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- その他 -->
      <h4>{{= label.JkskCarOthers }}</h4>
      <div class="mod-table ami">
        <table>
          <tr>
            <th>{{= label.JkskCarOtherTanshin }}</th>
            <td colspan="3"></td>
          </tr>
          <tr>
            <th style="width:30%;" rowspan="3">{{= label.JkskCarOtherKinmu }}</th>
            <td style="width:22%;">
              <select class="" name="Fill--jksk_car_other_kinmu_01" data-pulldown="cspd-jksk_chiiki"></select>
            </td>
            <th style="width:26%;">{{= label.JkskCarOtherKinmuKuni01 }}</td>
            <td style="width:22%;"><input class="block" type="text" name="Fill--jksk_car_other_kinmu_kuni_01"></td>
          </tr>
          <tr>
            <td style="width:22%;">
              <select class="" name="Fill--jksk_car_other_kinmu_02" data-pulldown="cspd-jksk_chiiki"></select>
            </td>
            <th style="width:26%;">{{= label.JkskCarOtherKinmuKuni02 }}</td>
            <td style="width:22%;"><input class="block" type="text" name="Fill--jksk_car_other_kinmu_kuni_02"></td>
          </tr>
          <tr>
            <td style="width:22%;">
              <select class="" name="Fill--jksk_car_other_kinmu_03" data-pulldown="cspd-jksk_chiiki"></select>
            </td>
            <th style="width:26%;">{{= label.JkskCarOtherKinmuKuni03 }}</th>
            <td style="width:22%;"><input class="block" type="text" name="Fill--jksk_car_other_kinmu_kuni_03"></td>
          </tr>
          <tr>
            <th>{{= label.JkskCarOtherKinmuReason }}</th>
            <td colspan="3"><textarea class="block" rows="3" name="Fill--jksk_car_other_kinmu_reason"></textarea></td>
          </tr>
          <tr>
            <th>{{= label.JkskCarOtherQues01 }}</th>
            <td colspan="3"><textarea class="block" rows="3" name="Fill--jksk_car_other_ques_01"></textarea></td>
          </tr>
        </table>
      </div>

      <!-- 上長所見欄 -->
      <div style="float: left;">
        <h4>{{= label.JkskBosShoken }}</h4>
      </div>
      <div class="mod-table ami bosShoken">
        <table>
          <tr>
            <th style="width:30%;">{{= label.JkskBosMendan }}<span style="color:red;"> ※</span></th>
            <td><input class="datepicker-date" style="width: 100px;" type="text" name="Fill--jksk_bos_mendan"></td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- 直近（上長） -->
      <div class="mod-table ami bosShoken">
        <table>
          <tr>
            <th style="width:30%;">{{= label.JkskBosNowQues01 }}<span style="color:red;"> ※</span></th>
            <td colspan="3"><textarea class="block" rows="3" name="jksk_bos_now_ques_01"></textarea></td>
          </tr>
          <tr>
            <th>{{= label.JkskBosNowQues02 }}<span style="color:red;"> ※</span></th>
            <td colspan="3">
              <select class="" name="Fill--jksk_bos_now_ques_02" data-pulldown="cspd-jksk_bos_now_ans02"></select>
            </td>
          </tr>
          <tr>
            <th><div style="margin-top: 16px; float:left;">{{= label.JkskBosNowQues03 }}</div><button type="button" class="btn" style="margin:5px; float:right;">一覧から選択</button></th>
            <td>{{= fill.jksk_bos_now_ques_03_A }}</td>
            <td>{{= fill.jksk_bos_now_ques_03_B }}</td>
            <td>{{= fill.jksk_bos_now_ques_03_C }}</td>
          </tr>
          <tr>
            <th>{{= label.JkskBosNowQues04 }}<span style="color:red;"> ※</span></th>
            <td colspan="3"><textarea class="block" rows="3" name="Fill--jksk_bos_now_ques_04"></textarea></td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- 1-3年後（上長） -->
      <div class="mod-table ami bosShoken">
        <table>
          <tr>
            <th style="width:30%;">{{= label.JkskBos3yrQues01 }}<span style="color:red;"> ※</span></th>
            <td><textarea class="block" rows="3" name="Fill--jksk_bos_3yr_ques_01"></textarea></td>
          </tr>
          <tr>
            <th>{{= label.JkskBos3yrQues02 }}<span style="color:red;"> ※</span></th>
            <td><textarea class="block" rows="3" name="Fill--jksk_bos_3yr_ques_02"></textarea></td>
          </tr>
          <tr>
            <th>{{= label.JkskBos3yrQues03 }}<span style="color:red;"> ※</span></th>
            <td><textarea class="block" rows="3" name="Fill--jksk_bos_3yr_ques_03"></textarea></td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- その他（上長） -->
      <div class="mod-table ami bosShoken">
        <table>
          <tr>
            <th style="width:30%;">{{= label.JkskBosOtherQues01 }}<span style="color:red;"> ※</span></th>
            <td><textarea class="block" rows="3" name="Fill--jksk_bos_other_ques_01"></textarea></td>
          </tr>
          <tr>
            <th>{{= label.JkskBosOtherQues02 }}<span style="color:red;"> ※</span></th>
            <td><textarea class="block"rows="3" name="Fill--jksk_bos_other_ques_02"></textarea></td>
          </tr>
          <tr>
            <th>{{= label.JkskBosOtherQues03 }}<span style="color:red;"> ※</span></th>
            <td><textarea class="block"rows="3" name="Fill--jksk_bos_other_ques_03"></textarea></td>
          </tr>
          <tr>
            <th>{{= label.JkskBosOtherQues04 }}</th>
            <td><textarea class="block"rows="3" name="Fill--jksk_bos_other_ques_04"></textarea></td>
          </tr>
        </table>
      </div>
    </div>
    <!-- 自己申告タブ End -->

    <!-- 海外・外国語利用経験タブ Start -->
    <div class="tabpage tab02">
      <h3 class="lightBg">
        {{= label.JkskGloBusiExp }}
      </h3>

      <h3></h3>

      <!-- ビジネス経験（言語） -->
      <div class="mod-table ami">
        <table>
          <tr>
            <th style="font-weight:bold;" colspan="2">{{= label.JkskGloBusiLangQues01 }}<span style="color:red;"> ※</span></th>
            <td colspan="2">
              <select class="" name="Fill--jksk_glo_busi_lang_ques_01" data-pulldown="cspd-jksk_glo_busi_lang_ans01"></select>
            </td>
          </tr>

          {{ for ( var i = 1; i <= 3; i++ ) { }}
            {{ var idx = ( '0' + i ).slice( -2 ); }}
            <tr>
              <th rowspan="3" style="width:5%;">{{= label['JkskGloBusiLang' + idx] }}</th>
              <th rowspan="2" style="width:15%;">{{= label['JkskGloBusiLang' + idx + 'Nm'] }}</th>
              <td colspan="2">
                <select class="" name="Fill--jksk_glo_busi_lang_{{= idx }}_nm" data-pulldown="cspd-jksk_busi_language"></select>
              </td>
            </tr>
            <tr>
              <th style="width:25%;">{{= label['JkskGloBusiLang' + idx + 'Other'] }}</th>
              <td><input class="block" type="text" name="Fill--jksk_glo_busi_lang_{{= idx }}_nm_other"></td>
            </tr>
            <tr>
              {{ if ( i == 1 ) { }}
              <th>{{= label['JkskGloBusiLang' + idx + 'Naiyo'] }} {{= tooltip( label.JkskGloBusiLangNaiyoTips ) }}</th>
              {{ } else { }}
              <th>{{= label['JkskGloBusiLang' + idx + 'Naiyo'] }}</th>
              {{ } }}
              <td colspan="2"><textarea class="block" rows="3" name="Fill--jksk_glo_busi_lang_{{= idx }}_naiyo"></textarea></td>
            </tr>
          {{ } }}
          <tr>
            <th colspan="2">{{= label.JkskGloBusiLangQues02 }}</th>
            <td colspan="2">
              <select class="" name="Fill--jksk_glo_busi_lang_ques_02" data-pulldown="cspd-jksk_glo_busi_lang_ans02"></select>
            </td>
          </tr>
        </table>
      </div>

      <h3></h3>

      <!-- ビジネス経験（日本以外の国） -->
      <div class="mod-table ami">
        <table>
          <tr>
            <th colspan="2" style="font-weight:bold;" >{{= label.JkskGloBusiExpQues01 }}<span style="color:red;"> ※</span></th>
            <td colspan="3">
              <select class="" name="Fill--jksk_glo_busi_exp_ques_01" data-pulldown="cspd-jksk_glo_busi_exp_ans01"></select>
            </td>
          </tr>
          {{ for ( var i = 1; i < 3; i++ ) { }}
            {{ var idx = ( '0' + i ).slice( -2 ); }}

            <tr>
              <th rowspan="6" style="width:5%;">{{= label['JkskGloBusiExp' + idx] }}</th>
              <th rowspan="2"style="width:15%;">{{= label['JkskGloBusiExp' + idx + 'ChiikiKuni'] }}</th>
              <th style="width:25%;">{{= label['JkskGloBusiExp' + idx + 'Chiiki'] }}</th>
              <td colspan="2">
                <select class="" name="Fill--jksk_glo_busi_exp_{{= idx }}_chiiki" data-pulldown="cspd-jksk_glo_busi_exp_chiiki"></select>
              </td>
            </tr>
            <tr>
              <th>{{= label['JkskGloBusiExp01Kuni'] }}</th>
              <td colspan="2"><input class="block" type="text" name="Fill--jksk_glo_busi_exp_{{= idx }}_kuni"></td>
            </tr>
            <tr>
              <th>{{= label['JkskGloBusiExp' + idx + 'Shubetsu'] }}</th>
              <td colspan="3">
                <select class="" name="Fill--jksk_glo_busi_exp_{{= idx }}_shubetsu" data-pulldown="cspd-jksk_glo_busi_exp_shubetsu"></select>
              </td>
            </tr>
            <tr>
              <th><div style="margin-top: 16px; float:left;">{{= label['JkskGloBusiExp' + idx + 'Shokushu'] }}</div><button type="button" class="btn" style="margin:5px; float:right;">一覧から選択</button></th>
              <td>{{= fill['jksk_glo_busi_exp_' + idx + '_shokushu_A'] }}</td>
              <td>{{= fill['jksk_glo_busi_exp_' + idx + '_shokushu_B'] }}</td>
              <td>{{= fill['jksk_glo_busi_exp_' + idx + '_shokushu_C'] }}</td>
            </tr>
            <tr>
              <th>{{= label['JkskGloBusiExp' + idx + 'Naiyo'] }}</th>
              <td colspan="3"><textarea class="block" rows="3" name="jksk_glo_busi_exp_{{= idx }}_naiyo"></textarea></td>
            </tr>
            <tr>
              <th>{{= label['JkskGloBusiExp' + idx + 'FromTo'] }}</th>
              <td colspan="3" style="padding:0px;">
                <table>
                  <tr>
                    <th style="width:10%; text-align: center;">{{= label['JkskGloBusiExp' + idx + 'Kai'] }}</th>
                    <td style="width:23%;"><input type="text" class="datepicker-months" name="Fill--jksk_glo_busi_exp_{{= idx }}_kai"></td>
                    <th style="width:10%; text-align:center">{{= label['JkskGloBusiExp' + idx + 'Shu'] }}</th>
                    <td style="width:23%;"><input type="text" class="datepicker-months" name="Fill--jksk_glo_busi_exp_{{= idx }}_shu"></td>
                    <th style="width:10%; text-align: center;">{{= label['JkskGloBusiExp' + idx + 'Kikan'] }}</th>
                    <td style="width:24%;">{{= fill['jksk_glo_busi_exp_' + idx + '_kik'] }}</td>
                  </tr>
                </table>
              </td>
            </tr>
          {{ } }}
        </table>
      </div>

      <h3></h3>

      <!-- 就学・留学経験 -->
      <div class="mod-table ami">
      <table>
        <tr>
          <th colspan="2" style="font-weight:bold;">{{= label.JkskGloRyuQues01 }}<span style="color:red;"> ※</span></th>
          <td colspan="2">
            <select class="" name="Fill--jksk_glo_ryu_ques_01" data-pulldown="cspd-jksk_glo_ryu_exp_ans01"></select>
          </td>
        </tr>
        {{ for ( var i = 1; i <= 3; i++ ) { }}
          {{ var idx = ( '0' + i ).slice( -2 ); }}

          <tr>
            <th rowspan="5" style="width:5%;">{{= label['JkskGloRyuExp' + idx] }}</th>
            <th rowspan="2" style="width:15%;">{{= label['JkskGloRyuExp' + idx + 'ChiikiKuni'] }}</th>
            <th style="width:25%;">{{= label['JkskGloRyuExp' + idx + 'Chiiki'] }}</th>
            <td>
              <select class="" name="Fill--jksk_glo_ryu_exp_{{= idx }}_chiiki" data-pulldown="cspd-jksk_glo_ryu_exp_chiiki"></select>
            </td>
          </tr>
          <tr>
            <th>{{= label['JkskGloRyuExp' + idx + 'Kuni'] }}</th>
            <td><input class="block" type="text" name="Fill--jksk_glo_ryu_exp_{{= idx }}_kuni"></td>
          </tr>
          <tr>
            <th rowspan="2">{{= label['JkskGloRyuExp' + idx + 'Naiyo'] }}</th>
            <td colspan="2"><textarea class="block" rows="3" name="Fill--jksk_glo_ryu_exp_{{= idx }}_naiyo"></textarea></td>
          </tr>
          <tr>
            <th>{{= label['JkskGloRyuExp' + idx + 'NaiyoOther'] }}</th>
            <td><input class="block" type="text" name="Fill--jksk_glo_ryu_exp_{{= idx }}_naiyo_other"></td>
          </tr>
          <tr>
            <th>{{= label['JkskGloRyuExp' +idx + 'FromTo'] }}</th>
            <td colspan="3" style="padding:0px;">
              <table>
                <tr>
                  <th style="width:10%; text-align: center;">{{= label['JkskGloRyuExp' + idx + 'Kai'] }}</th>
                  <td style="width:23%;"><input type="text" class="datepicker-months" name="Fill--jksk_glo_ryu_exp_{{= idx }}_kai"></td>
                  <th style="width:10%; text-align:center">{{= label['JkskGloRyuExp'+ idx + 'Shu'] }}</th>
                  <td style="width:23%;"><input type="text" class="datepicker-months" name="Fill--jksk_glo_ryu_exp_{{= idx }}_shu"></td>
                  <th style="width:10%; text-align: center;">{{= label['JkskGloRyuExp' + idx + 'Kikan'] }}</th>
                  <td style="width:24%;">{{= fill['jksk_glo_ryu_exp_' + idx + '_kik'] }}</td>
                </tr>
              </table>
            </td>
          </tr>
        {{ } }}
      </table>
    </div>
    <!-- 海外・外国語利用経験タブ End -->
</div>
